{% extends 'vender/vender-base.html' %}

{% block venderContent %}
	<div class="vender-title pb10">
		<p class="f16 fb pl10">账户设置</p>
	</div>
	<div class="vender-cont-wrap pt20 pb20 clearfix">
		<div class="info-box">
			<span class="inl-b mb20 mr15 tr fb vc-w60">手机号：</span>
			<span>13728398750</span>
		</div>
		<div class="info-box">
			<span class="inl-b mb20 mr15 tr fb vc-w60">用户名：</span>
			<span>哎哟先生</span>
		</div>
		<div class="info-box">
			<span class="inl-b mb20 mr15 tr fb vc-w60">身份：</span>
			<span>国际珠宝大亨</span>
		</div>
	</div>

{% endblock %}