{% extends 'vender/vender-base.html' %}

{% block venderContent %}
	<div class="vender-title pb10">
		<p class="f16 fb pl10">全部下载</p>
	</div>
	<div class="vender-cont-wrap">

		<div class="vender-product-list">
			<div class="product-info-nav">
				<span class="vc-w370 f16 inl-b">订单号：234123234234</span>
				<span class="vc-w180 f16 inl-b tc">价格</span>
				<span class="vc-w180 f16 inl-b tc">设计师</span>
				<span class="vc-w180 f16 inl-b tc">下载时间</span>
			</div>
			<div class="product-info-cont mt15 mb15 clearfix">
				<div class="vc-w370 fl">
					<div class="product-info-img mr30 inl-b">
						<a target="_blank" href="/product/goods-detail"><img src="" alt="" /></a>
					</div>
					<p class="product-info-txt mt10 inl-b">
						<a target="_blank" href="/product/goods-detail">蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋</a>
					</p>
				</div>
				<p class="vc-w180 vc-lh-100 fl tc">goods.price</p>
				<p class="vc-w180 vc-lh-100 fl tc">designer.name</p>
				<p class="vc-w180 vc-lh-100 fl tc">download.time</p>
			</div>
		</div>

		<div class="vender-product-list">
			<div class="product-info-nav">
				<span class="vc-w370 f16 inl-b">订单号：234123234234</span>
				<span class="vc-w180 f16 inl-b tc">价格</span>
				<span class="vc-w180 f16 inl-b tc">设计师</span>
				<span class="vc-w180 f16 inl-b tc">下载时间</span>
			</div>
			<div class="product-info-cont mt15 mb15 clearfix">
				<div class="vc-w370 fl">
					<div class="product-info-img mr30 inl-b">
						<a target="_blank" href="/product/goods-detail"><img src="" alt="" /></a>
					</div>
					<p class="product-info-txt mt10 inl-b">
						<a target="_blank" href="/product/goods-detail">蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋</a>
					</p>
				</div>
				<p class="vc-w180 vc-lh-100 fl tc">goods.price</p>
				<p class="vc-w180 vc-lh-100 fl tc">designer.name</p>
				<p class="vc-w180 vc-lh-100 fl tc">download.time</p>
			</div>
		</div>

		<div class="vender-product-list">
			<div class="product-info-nav">
				<span class="vc-w370 f16 inl-b">订单号：234123234234</span>
				<span class="vc-w180 f16 inl-b tc">价格</span>
				<span class="vc-w180 f16 inl-b tc">设计师</span>
				<span class="vc-w180 f16 inl-b tc">下载时间</span>
			</div>
			<div class="product-info-cont mt15 mb15 clearfix">
				<div class="vc-w370 fl">
					<div class="product-info-img mr30 inl-b">
						<a target="_blank" href="/product/goods-detail"><img src="" alt="" /></a>
					</div>
					<p class="product-info-txt mt10 inl-b">
						<a target="_blank" href="/product/goods-detail">蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋蓝色之恋</a>
					</p>
				</div>
				<p class="vc-w180 vc-lh-100 fl tc">goods.price</p>
				<p class="vc-w180 vc-lh-100 fl tc">designer.name</p>
				<p class="vc-w180 vc-lh-100 fl tc">download.time</p>
			</div>
		</div>

	</div>

	{# {% include 'vender/paging.html' %} #}

{% endblock %}