{% extends 'vender/vender-base.html' %}

{% block venderContent %}
	<div class="vender-title pb10">
		<p class="f16 fb pl10">我收藏的设计师</p>
	</div>
	<div class="vender-cont-wrap pt20 pb20 clearfix">
		
		<div class="designer-box pl10 pr10 pb15 fl">
			<div class="designer-img mr20 inl-b">
				<a target="_blank" href="/dc">
					<img src="/images" alt="" />
				</a>
			</div>
			<div class="designer-info inl-b">
				<p class="designer-name t-el mb10 f16">Well</p>
				<p class="mb10 f12">
					<span class="mr20">
						<em class="person-man-ico inl-b"></em>
						男
					</span>
					<span>人气：127</span>
				</p>
				<div class="follow-btn">
					<a class="btn" href="javascript:void(0)">取消关注</a>
				</div>
			</div>
		</div>
		
		<div class="designer-box pl10 pr10 pb15 fl">
			<div class="designer-img mr20 inl-b">
				<a target="_blank" href="/dc">
					<img src="/images" alt="" />
				</a>
			</div>
			<div class="designer-info inl-b">
				<p class="designer-name t-el mb10 f16">Well</p>
				<p class="mb10 f12">
					<span class="mr20">
						<em class="person-man-ico inl-b"></em>
						男
					</span>
					<span>人气：127</span>
				</p>
				<div class="follow-btn">
					<a class="btn" href="javascript:void(0)">取消关注</a>
				</div>
			</div>
		</div>

		<div class="designer-box pl10 pr10 pb15 fl">
			<div class="designer-img mr20 inl-b">
				<a target="_blank" href="/dc">
					<img src="/images" alt="" />
				</a>
			</div>
			<div class="designer-info inl-b">
				<p class="designer-name t-el mb10 f16">Well</p>
				<p class="mb10 f12">
					<span class="mr20">
						<em class="person-man-ico inl-b"></em>
						男
					</span>
					<span>人气：127</span>
				</p>
				<div class="follow-btn">
					<a class="btn" href="javascript:void(0)">取消关注</a>
				</div>
			</div>
		</div>

		<div class="designer-box pl10 pr10 pb15 fl">
			<div class="designer-img mr20 inl-b">
				<a target="_blank" href="/dc">
					<img src="/images" alt="" />
				</a>
			</div>
			<div class="designer-info inl-b">
				<p class="designer-name t-el mb10 f16">Well</p>
				<p class="mb10 f12">
					<span class="mr20">
						<em class="person-man-ico inl-b"></em>
						男
					</span>
					<span>人气：127</span>
				</p>
				<div class="follow-btn">
					<a class="btn" href="javascript:void(0)">取消关注</a>
				</div>
			</div>
		</div>

	</div>
{% endblock %}