{% extends 'vender/vender-base.html' %}

{% block venderContent %}
	<div class="vender-title pb10">
		<p class="f16 fb pl10">我收藏的作品</p>
	</div>
	<div class="vender-cont-wrap pt20 pb20 clearfix">

		<div class="work-list pr mb20 pl10 pr10 fl">
			<div class="work-img mr15 inl-b">
				<img src="/images" alt="" />
			</div>
			<div class="work-info inl-b">
				<p class="f16 mb10 mt5">蓝色之恋（挂坠）</p>
				<p class="mb5">设计师：Wellaiyo</p>
				<p class="t-el mb20">设计语义：设计语义设计语义设计语义设计语义设计语义设计语义设计语义设计语义</p>
				<p><span>价格：157.00</span><a class="download-go fr" target="_blank" href="/product/goods-detail">去下载>></a></p>
			</div>
			<a class="cancel-btn pa" href="javascript:void(0)"><em class="cancel-ico"></em>取消收藏</a>
		</div>

		<div class="work-list pr mb20 pl10 pr10 fl">
			<div class="work-img mr15 inl-b">
				<img src="/images" alt="" />
			</div>
			<div class="work-info inl-b">
				<p class="f16 t-el mb10 mt5">蓝色之恋（挂坠）</p>
				<p class="mb5">设计师：Wellaiyo</p>
				<p class="t-el mb20">设计语义：设计语义设计语义设计语义设计语义设计语义设计语义设计语义设计语义</p>
				<p><span>价格：157.00</span><a class="downloaded fr" target="_blank"><em class="downloaded-ico"></em>已下载</a></p>
			</div>
			<a class="cancel-btn pa" href="javascript:void(0)"><em class="cancel-ico"></em>取消收藏</a>
		</div>

		<div class="work-list pr mb20 pl10 pr10 fl">
			<div class="work-img mr15 inl-b">
				<img src="/images" alt="" />
			</div>
			<div class="work-info inl-b">
				<p class="f16 mb10 mt5">蓝色之恋（挂坠）</p>
				<p class="mb5">设计师：Wellaiyo</p>
				<p class="t-el mb20">设计语义：设计语义设计语义设计语义设计语义设计语义设计语义设计语义设计语义</p>
				<p><span>价格：157.00</span><a class="download-go fr" target="_blank" href="/product/goods-detail">去下载>></a></p>
			</div>
			<a class="cancel-btn pa" href="javascript:void(0)"><em class="cancel-ico"></em>取消收藏</a>
		</div>

		<div class="work-list pr mb20 pl10 pr10 fl">
			<div class="work-img mr15 inl-b">
				<img src="/images" alt="" />
			</div>
			<div class="work-info inl-b">
				<p class="f16 t-el mb10 mt5">蓝色之恋（挂坠）</p>
				<p class="mb5">设计师：Wellaiyo</p>
				<p class="t-el mb20">设计语义：设计语义设计语义设计语义设计语义设计语义设计语义设计语义设计语义</p>
				<p><span>价格：157.00</span><a class="download-go fr" target="_blank" href="/product/goods-detail">去下载>></a></p>
			</div>
			<a class="cancel-btn pa" href="javascript:void(0)"><em class="cancel-ico"></em>取消收藏</a>
		</div>

	</div>

{% endblock %}