{% extends 'vender/vender-base.html' %}

{% block venderContent %}
	<div class="vender-title pb10">
		<p class="f16 fb pl10">我收藏的设计师</p>
	</div>
	<div class="vender-cont-wrap pt20 pb20 clearfix">

		{% if designer_list %}
		{% for designer in designer_list %}

		<div class="designer-box pl10 pr10 pb15 fl">
			<div class="designer-img mr20 inl-b">
				<a target="_blank" href="/dc">
					<img src="{{ designer.designer_img }}" alt="" />
				</a>
			</div>
			<div class="designer-info inl-b">
				<p class="designer-name t-el mb10 f16">{{ designer.designer_name }}</p>
				<p class="mb10 f12">
					<span>人气：{{ designer.designer_mark }}</span>
				</p>
				<div class="follow-btn">
					<a class="btn" data-num="{{ designer.designer_id }}" href="javascript:void(0)">取消关注</a>
				</div>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<p class="mt10 pl20">您还没有喜欢的设计师，快去关注吧</p>
		{% endif %}

	</div>
{% endblock %}