<div class="paging-wrap pt50 pb20 mr15 fr">
	<a class="paging-btn" href="javascript:void(0)">首页</a>
	<a class="paging-btn" href="javascript:void(0)">上一页</a>
	<div class="paging-num inl-b">
		<a class="paging-btn active" href="javascript:void(0)">1</a>
		<a class="paging-btn" href="javascript:void(0)">2</a>
		<span class="paging-more" href="javascript:void(0)">....</span>
	</div>
	<a class="paging-btn" href="javascript:void(0)">下一页</a>
	<a class="paging-btn" href="javascript:void(0)">末页</a>
</div>