{% extends 'base.html' %}

{% block title %} 商家后台中心 {% endblock %}

{% load staticfiles %}

{% block selfFiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/vender/vender.css' %}" />
	<script type="text/javascript" src="{% static 'js/vender/vender.js' %}"></script>
{% endblock %}

{% block bodyColor %}
<body class="vc">
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
	<div class="vender-center">
		<div class="container clearfix">

			{% include 'vender/vender-list.html' %}
			
			<div class="vender-content fr">

				{% block venderContent %}
				{% endblock %}

			</div>

		</div>
	</div>
{% endblock %}

{% block customerTool %}
{% endblock %}