<div class="vender-nav mr10 fl">
	<div class="vender-info mb30">
		<div class="seller-img mb10 bc">
			<img src="/images/" alt="" />
		</div>
		<p class="tc">有木有</p>
	</div>
	<div class="vender-nav-wrap">
		<div class="vender-nav-box pb30">
			<p class="vender-nav-title f18 fb">下载查询</p>
			<div class="vender-nav-list mt15">
				<ul>
					<li class="pl20 mb10"><a class="active" href="/vc">全部下载</a></li>
				</ul>
			</div>
		</div>
		<div class="vender-nav-box pb30 pt50">
			<p class="vender-nav-title f18 fb">我的收藏</p>
			<div class="vender-nav-list mt15">
				<ul>
					<li class="pl20 mb10"><a href="/vc/myCollection/designers">设计师</a></li>
					<li class="pl20 mb10"><a href="/vc/myCollection/works">作品</a></li>
				</ul>
			</div>
		</div>
		<div class="vender-nav-box pt50">
			<p class="vender-nav-title f18 fb">我的账户</p>
			<div class="vender-nav-list mt15">
				<ul>
					<li class="pl20 mb10"><a href="/vc/account/setup">账户设置</a></li>
					<li class="pl20 mb10"><a style="color:#cc3333" href="/vc/account/logout">注销账户</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>