{% extends 'designer/designer-base.html' %}

{% block title%}
修改头像
{% endblock %}

{% block staticfiles %}
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%static 'test/grzx.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'test/jbxx.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'test/sqsjs.css' %}">
    <!-- Uploadify CSS -->
    <link href="{%static 'test/uploadify.css'%}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/test/angular.min.js"></script>
    <script type="text/javascript" src="/static/test/ng-img-crop.js"></script>
    <link rel="stylesheet" href="/static/test/ng-img-crop.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'test/bootstrap.min.css' %}">
      <style>
        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 240px;
            height: 240px;
        }
    </style>

<script>
	        angular.module('app', ['ngImgCrop'])
                .controller('Ctrl', function ($scope, $http) {
                    $http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
                    $scope.myImage = '';
                    $scope.myCroppedImage = '';
                    var img = '';

                    var handleFileSelect = function (evt) {
                        var file = evt.currentTarget.files[0];
                        var reader = new FileReader();
                        reader.onload = function (evt) {
                            $scope.$apply(function ($scope) {
                                $scope.myImage = evt.target.result;
                            });
                        };
                        reader.readAsDataURL(file);
                    };

                    angular.element(document.querySelector('#fileInput')).on('change', handleFileSelect);
                    $scope.uploadImage = function () {
                        console.log($scope.myCroppedImage);
                        img = $scope.myCroppedImage;
                        img = encodeURIComponent(img);
                        $http({
                            method: 'POST',
                            url: "/account/change_icon",
                            data: img
                        }).success(function () {
                            alert("修改成功");
                            location.reload();
                        })
                    }
                })

    </script>

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

{% endblock %}

{% block content %}
<div ng-app="app" ng-controller="Ctrl">
            <div class="main-right">
                <div class="right-container">
                当前头像：
                <br/>
                <img  src="{{customer.icon}}" style="width: 138px; height: 139px;">
                    <br/>
            <div>选择图片: <input type="file" id="fileInput"/></div>
            <div class="cropArea">
                <img-crop image="myImage" result-image="myCroppedImage" name="cropImage"></img-crop>
            </div>
            <div>裁剪后的头像:</div>
            {% verbatim %}
            <div><img ng-src="{{ myCroppedImage }}"/></div>
            {% endverbatim %}
            <button type='button' id='imageUpload' ng-click="uploadImage()">确定</button>
            </div>
            </div>
        </div>

<!-- Uploadify JavaScript -->
{% endblock %}
