{% extends 'designer/designer-base.html' %}
	{% block rightContent %}
		<div class="designer-baseInfo fl">
			<div class="designer-baseInfo-container  clearfix ">
				<h2>基本信息</h2>
				<div class="designer-modify-photo fl">
					<img src="">
					<span class="modify-photo-btn">头像编辑</span>
				</div>
				<div class="designer-personInfo fl">
					<div>
						<label>昵称：</label><span>{{ designer.Name }}</span>
					</div>
					<div>
						<label>性别：</label><span>{{ designer.sex }}</span>
					</div>
					<div>
						<label>出生日期：</label><span>{{ designer.brithday }}</span>
					</div>
					<div>
						<label>身份：</label><span>{{ designer.identity }}</span>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}