{% extends 'designer/designer-base.html' %}
{% load staticfiles %}

	{% block rightContent %}
		<div class="designer-baseInfo fl">
			<div class="designer-baseInfo-container  clearfix ">
				<div class="ower-info-box">
					<h2>基本信息</h2>
					<div class="designer-modify-photo fl">
						<img src="{{ img }}">
						<span  class="modify-photo-btn"><a class="head-portrait" href= "javascript:void(0)">头像编辑</a></span>
					</div>
					<div class="designer-personInfo fl">
						<p>
							<label>昵称：</label><span>{{ name }}</span>
						</p>
						<p>
							<label>身份：</label><span>设计师{{ designer.identity }}</span>
						</p>
					</div>
				</div>
				<div class="change-headportrait-wrap hide">
					<div class="change-headportrait-box pr">
						<div class="set-head-cont">
							<p class="set-head-title f20 mb30">修改头像</p>
							<div class="change-head-box bc">
								<div id="change_img"></div>
							</div>
						</div>
						<em class="close-headportrait pa"></em>
					</div>
				</div>
			</div>

			<div class="ower-alipay-info mt20">
				<div class="uinfo-box">
					<p class="f20 mb30">账号信息</p>
					<div class="user-info-box">
						<div class="info-list mb15 f16">
							<span>账号：</span>
							<span>{{ phone }}</span>
						</div>
						<div class="info-list mb15 f16">
							<span>密码：</span>
							<button class="btn-changepw">更改密码</button>
						</div>
					</div>
				</div>

				{% if not has_alipay %}
				<div class="add-alipay-account">
					<p class="f18 mb30">您尚未添加支付宝账户</p>
					<a class="add-alipay-btn tc" href="javascript:void(0)"><em class="add-alipay-ico bc mt50 mb20"></em>添加支付宝账户</a>
					<div class="set-alipay-wrap hide">
						<div class="set-alipay-box pr">
							<p class="set-alipay-head f20 pb10">添加支付</p>
							<div class="set-cont-box bc mt30">
								<div class="set-cont-list pr">
									<input class="pay-empty" type="text" placeholder="支付宝账户姓名" />
									<em class="test-ico pa"></em>
								</div>
								<div class="set-cont-list pr">
									<input class="pay-empty" type="text" placeholder="支付宝账号" />
									<em class="test-ico pa"></em>
								</div>
								<div class="set-cont-list pr">
									<input class="pay-empty" type="text" placeholder="确认支付宝账号" />
									<em class="test-ico pa"></em>
								</div>
								<div class="set-payinfo-btn mt30">
									<button class="bind-btn mr10">确认</button>
									<button class="close-bind">取消</button>
								</div>
							</div>
							<em class="close-set pa"></em>
						</div>
					</div>
				</div>
				{% else %}
				<p class="f18 mb30">您已经绑定了支付宝账户:{{ alipay }}</p> 
				<p><button class="btn-changepw">更改支付宝</button></p>
				{% endif %}

			</div>
		</div>
		<script type="text/javascript" src="{% static 'plugin/js/swfobject.js' %}"></script>
		<script type="text/javascript" src="{% static 'plugin/js/fullAvatarEditor.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/designer/change-headportrait.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/designer/setup.js' %}"></script>
		
	{% endblock %}