{% extends 'base.html' %}

{% load staticfiles %}
{% load compress %}

{% block selfFiles %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/designer/designer.css' %}" />
	{% endcompress %}
	
	{% compress js %}
	<script type="text/javascript" src="{% static 'js/designer/designer-show.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}

		<div class="designer-show-page">
			<div class="designer-show-head w">
				<div class="d-showhead-box mt50 bc">
					<div class="designer-show-img">
						<img src="{{ designer_img }}" alt="" />
					</div>
					<div class="designer-show-info mt30 tc" data-did="{{ designer_id }}" data-vid="{{ vender_id }}" >
						<p class="inl-b f20 mr20">{{ designer_name }}</p>
						{% if now_user == 'V' %}
							<a data-did="{{ designer_id }}" data-vid="{{ vender_id }}" class="show-mark-btn f16 {% if is_focus %}active{% else %}{% endif %}" href="javascript:void(0)"><em class="designer-show-mark"></em><span>{{ marked }}</span></a>
						{% else %}
							<a  class="no-show-mark-btn f16 active" ><em class="designer-show-mark"></em>{{ marked }}</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="designer-show-cont">
				<div id="ds-classify-nav">
					<div class="ds-classify-box mt10 bc">
						<ul>
							<li><a type-tag='全部' class="type-filter-btn chover active" href="javascript:void(0)">全部</a></li>
							<li><a type-tag='戒指' class="type-filter-btn chover " href="javascript:void(0)">戒指</a></li>
							<li><a type-tag='吊坠' class="type-filter-btn chover " href="javascript:void(0)">吊坠</a></li>
							<li><a type-tag='耳坠' class="type-filter-btn chover " href="javascript:void(0)">耳坠</a></li>
							<li><a type-tag='手链' class="type-filter-btn chover " href="javascript:void(0)">手链</a></li>
							<li><a type-tag='项链' class="type-filter-btn chover " href="javascript:void(0)">项链</a></li>
							<li><a type-tag='胸针' class="type-filter-btn chover " href="javascript:void(0)">胸针</a></li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div class="ds-list-wrap mt30 clearfix">
						<div class="filter-bynum mt10 fl">
							<a data-tag="1" class="filter-btn chover active" href="javascript:void(0)">综合</a>
							<a data-tag="2" class="filter-btn chover" href="javascript:void(0)">下载量</a>
							<a data-tag="3" class="filter-btn chover" href="javascript:void(0)">收藏量</a>
							<a data-tag="4" class="filter-btn chover" href="javascript:void(0)">最新作品</a>
						</div>
					</div>
					<div class="ds-list-box mt20">
						<ul class="clearfix">

							{% for other_goods in other_goods_list %}

							<li>
								<div class="list-box pr">
									<div class="list-img mb10">
					                    <a target="_blank" href="/shop/goods-detail?goods_id={{ other_goods.id }}">
											<img class="goods_img" src="{{ other_goods.preview_1 }}" alt="" />
										</a>
									</div>
									<div class="num-box tc mb10">
										<p class="mr15 inl-b">
											<em class="download-num-ico"></em>
											<span class="goods_downloadNum">{{ other_goods.download_count }}</span>
										</p>
										<p class="inl-b">
											<em class="mark-num-ico"></em>
											<span class="goods_markNum">{{ other_goods.collected_count }}</span>
										</p>
									</div>
									<div class="list-title tc mb10">
					                    <a class="goods_name" target="_blank" href="/shop/goods-detail?goods_id={{ other_goods.id }}">
										{{ other_goods.goods_name }}
										</a>
									</div>
									<p class="goods_price f12 tc">￥{{ other_goods.goods_price }}</p>
									{% if now_user == 'V' %}
										{% if other_goods.is_collect %}
											<a class="pa goods-tomark active" data-num="{{ other_goods.id }}" href="javascript:void(0)"><em class="list-mark-btn-ico mark-num-ico"></em>收藏</a>
										{% else %}
											<a class="pa goods-tomark " data-num="{{ other_goods.id }}" href="javascript:void(0)"><em class="list-mark-btn-ico mark-num-ico"></em>收藏</a>
										{% endif %}
									{% endif %}
								</div>
							</li>

							{% endfor %} 

						</ul>
						
						{% include 'paging.html' %}

					</div>
				</div>
				
			</div>
		</div>

{% endblock %}