<div class="designer-sidebar fl">
	<div class="designer-sidebar-headbox">
		<div class="designer-sidebar-pic">
			<img src="{{ photo }}"/>
		</div>
		<div class="designer-sidebar-title">
			<span class="designer-sidebar-title-icon"></span>
			<strong class="designer-sidebar-title-text">个人中心</strong>
		</div>
		<div class="designer-sidebar-username">
			<span>{{ name}} </span>
			<a href="javascript:void(0);" class="designer-quiet">退出</a>
		</div>
	</div>
	<div class="designer-sidebar-menu">
		<ul>
			<li class="designer-sidebar-menulist">
				<a href="/designer/designer-center">我的动态</a>
			</li>
			<li class="designer-sidebar-menulist menu-current">
				<a href="/designer/works_save">作品上传</a>
			</li>
			<li class="designer-sidebar-menulist">
				<a href="javascript:void(0)">作品管理</a>
			</li>
			<li class="designer-sidebar-menulist">
				<a href="/designer/designer-center">账号设置</a>
			</li>
		</ul>
	</div>
</div>