<div class="designer-header clearfix" >
	<div class="container">
		<span class="designer-head-loginName fl">
			欢迎您，坏男孩
		</span>
		<a href="#" class="designer-herf fl">进入个人中心</a>
		<ul class="designer-head-nav fr">
			<li ><a href="/">3Dilove首页</a></li>
			<li >
				<span class="designer-head-nav-show"></span>
				<a href="/designer/desinger-show">个人主页</a>
			</li>
			<li >
				<span class="designer-head-nav-upfile"></span>
				<a href="/designer/desinger-upfile">作品上传</a>
			</li>
			<li>
				<span class="designer-head-nav-work"></span>
				<a href="/designer/desinger-work">作品管理</a>
			</li>
		</ul>
	</div>
</div>