<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" /> 
	<title>网页倒计时效果代码</title> 
	<script type="text/javascript">
	window.onload=function(){
	  var myspan=document.getElementById("myspan");
	  var timer=4;
	  var flag;
	  function daoji(){
	     timer=timer-1;
	     myspan.innerHTML=timer;
	     if(timer==0){
	       location.href="/toy_photo/photo_list";
	       clearInterval(flag);
	     }
	  }
	  flag=setInterval(daoji,1000);
	}
	</script> 
</head>
<body>
<p>
	Upload Error！已经存在
</p>
<div>页面返回倒计时:<a href="/toy_photo/photo_list">点击回到上传列表</a><span id="myspan"></span></div>
</body>