<div class="cart-method-wrap pa hide">
	<div class="cart-method-box pa">
		<p class="f20 mt20 tc">选择支付方式</p>
		<div class="pay-method-box mt30">
			<div class="method-box bc">
				<a class="alipay mr30 active" href="javascript:void(0)"></a>
				<a class="tencenpay" href="javascript:void(0)"></a>
			</div>
			<button class="gopay f18 bc fb">去支付</button>
		</div>
		<div class="pay-ts tc">
			<p class="c888 f12">支付后的模型作品可在您的个人中心重复下载</p>
			<p class="mt10 f16 fb">
				<em class="safa-ico"></em>
				支付安全保障
			</p>
		</div>
	</div>
</div>