<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>客服后台中心</title>
		{% load staticfiles %}
		{% load compress %}

		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/adminer/common.css' %}">
		{% endcompress %}
	</head>
	<body>
		<div class='main-container'> 
			<div class='title-bar'>
				<span style="font-family: -webkit-pictograph;font-size: 22px;">3Dilove</span>
				<span style="font-family: sans-serif;font-size: 20px;letter-spacing: -1px;">客服后台</span>
				<a href="" style="margin-left: 712px;font-family: serif;font-size: 17px;color: #fff;text-decoration: blink;">Lily</a>
				<a href="" style="text-decoration: blink;color: #FFF;">退出</a>
			</div>
			<div class='tool-bar'>
				<div style="float:left; height: 36px;background: inherit;" class="tool-bar-choosed" id="tool-bar-check">
					<div style="float: left;width: 109px;height: 25px;text-align: center;padding-top: 11px;  padding-left: 4px;">作品审核管理</div>
					<div style="float: left;height: 27px;padding-top: 9px;  font-size: 17px;width: 9px;">|</div>
					<div class="tool-bar-select" value="folded">
						<div style="display:block" value="0">未处理</div>
						<div style="display:none" value="1">已驳回</div>
						<div style="display:none" value="2">已通过</div>
					</div>
				</div>
				<div style="float: left;width: 178px;height: 25px;padding-top: 11px;text-align: center;" id="tool-bar-chat">客户留言对话</div>
			</div>

			<div class='goods-container'>
				<div class='search-bar'>
					<div class="search-box">
						<div style="background: url('{% static 'images/adminer/widget.png' %}') no-repeat;background-position: -3px -3px;"></div>
						<div contenteditable="true" id="search-box-textarea">作品编号、作品名</div>
					</div>
					<div class="search-btn">搜索</div>
				</div>

				<div id="good-deny-infos" style="position: absolute;
					width: 200px;
					height: 64px;
					background-color: #FFF;
					font-size: 14px;
					display: none;
					color: #5F4747;">
					<div><input name="deny-reason" type="radio" value="0" checked/>模型文件大</div>
					<div><input name="deny-reason" type="radio" value="1" />错了，不是模型文件</div>
					<div><input name="deny-reason" type="radio" value="2" />背景颜色</div>
				</div>

				<div id="good-pass-infos" style="position: absolute;
					width: 133px;
					height: 20px;
					top:300px;
					font-size: 14px;
					display: none;
					color: #5F4747;">
					<select id="good-type">
						<option value="0">戒指</option>
						<option value="1">吊坠</option>
						<option value="2">耳坠</option>
						<option value="3">手链</option>
						<option value="4">项链</option>
						<option value="5">胸针</option>
					</select>
					<select id="good-style">
						<option value="0">青春洋溢</option>
						<option value="1">富丽典雅</option>
						<option value="2">自然亲切</option>
						<option value="3">时尚潮流</option>
					</select>
				</div>
				<ul style="list-style:none;overflow-y:hidden;height: 488px;">
					{% for goods in all_list %}
					<li>
					<div class="good-container">
						<div class="good-info">
							<span style="letter-spacing: -1px;">作品编号:</span>
							<span id="good-id" style="font-size: 13px;">{{ goods.id }}</span>
							<span style="margin-left: 622px;letter-spacing: -1px;">最后修改时间:</span>
							<span id="good-modified-time" style="font-size: 13px;margin-left: 6px;">{{ goods.modify_time }}</span>
						</div>
						<div style="background-color: #FFF;width: 960px;height: 198px;">
							<div class="good-pic-div">
								<div class="good-pic">
									<img id="good-img-1" src="{{ photo_server }}{{ goods.preview_1 }}">
									<!--<div class="fullscreen-btn"></div>-->
								</div>
								<div class="good-pic">
									<img id="good-img-2" src="{{ photo_server }}{{ goods.preview_1 }}">
									<!--<div class="fullscreen-btn"></div>-->
								</div>
								<div class="good-pic">
									<img id="good-img-3" src="{{ photo_server }}{{ goods.preview_2 }}">
									<!--<div class="fullscreen-btn"></div>-->
								</div>
								<div class="good-stl">
									<!--<div class="fullscreen-btn"></div>-->
								</div>
							</div>
							<div class="good-info-for-detail">
								<p id="good-name" style="font-size: 14px;font-weight: bold;margin-top: 22px;">{{ goods.goods_name }}</p>
								<p id="good-description" style="  font-size: 12px;
								font-weight: bold;
								margin-top: -1px;
								width: 260px;
								height: 32px;margin-bottom: 14px;color: #7A7A7A;">{{ goods.description }}</p>
								<span id="good-price" style="font-size: 14px;color: #FF766F;">￥{{ goods.goods_price }}</span>
								<span id="good-type" style="margin-left: 17px;
									font-size: 13px;
									font-weight: bold;">{{ goods.type}}文件</span>
								<span id="good-file-size" style="margin-left: 8px;font-size: 13px;font-weight: bold;">{{ goods.file_size }}MB</span>
								<div name="good-deny" class="good-btn" style="  float: left;
									margin-left: 30px;background-color: #D7D7D7;color: #767676;">驳回作品</div>
								<div name="good-pass" class="good-btn" style="float: right;
									margin-right: 9px;">审核通过</div>
							</div>							
						</div>
					</div>
					</li>
					{% endfor %}
				</ul>
				<div class="pages-bar">
					<div class="pages-btn" style="margin-left: 571px;width: 66px;" value="-1">上一页</div>
					<div class="pages-btn" style="width: 66px;" id="page-next" value="+1">下一页</div>
				</div>
			</div>
			<div class='chat-container'>
				<div class="user-list-box">
					<div style="  width: 123px;
						height: 24px;
						font-size: 14px;
						padding-left: 9px;
						padding-top: 9px;
						background-color: #EBEBEB;">当前接入(<span id="chat-user-sum">5</span>)</div>
					<div class="user-list"></div>
				</div>
				<div class="chat-box">
					<div class="chat-tag-bar"></div>
					<div class="chated-txt"></div>
					<div class="chat-tool-bar">
						<div class="chat-tool" id="face">
							<div style="background: url('{% static 'images/adminer/widget.png' %}') no-repeat;width: 25px;height: 25px;background-position: -32px -44px;float:left;"></div>
							<div style="  font-size: 13px;padding-top: 5px;padding-left: 2px;float: left;font-weight: bold;">表情</div>
						</div>
						<div id='face-box' class='face-box'>
							<ul style="margin: 4px;padding: 0px;">
							</ul>
						</div>
					</div>
					<div class="chat-entry" contenteditable="true"></div>
					<div class="send-msg-bar">
						<div class="chatting-btn">发送</div>
					</div>
				</div>
				<div class="other-chat-tool-box">
					<div class="user-info-box">
						<div style="font-size: 15px;
							padding-left: 9px;
							padding-top: 10px;
							background-color: #EBEBEB;
							height: 23px;
							color: #4C4C4C;letter-spacing: -1px;">个人信息</div>
						<div class="user-info">
							<div style="padding-top: 10px;padding-left: 19px;color: #666666;font-size: 12px;height: 16px;">
								<span>用户名：</span>
								<span class="chat-user-name">钻石人生</span>
							</div>
							<div style="padding-top: 4px;padding-left: 19px;color: #666666;font-size: 12px;height: 16px;">
								<span>账号：</span>
								<span class="chat-user-account">1864565465464</span>
							</div>
							<div style="padding-top: 4px;padding-left: 19px;color: #666666;font-size: 12px;height: 16px;">
								<span>身份：</span>
								<span class="chat-user-identity">商家</span>
							</div>
						</div>
					</div>
					<div class="quick-reply-box">
						<div style="font-size: 15px;padding-left: 9px;padding-top: 8px;background-color: #EBEBEB;height: 25px;color: #4C4C4C;margin-bottom: 8px;">快速回复</div>
						<ul style="list-style:none;padding-left:10px;">
							<li class="quick-reply-item"><a href="#" style="text-decoration:none;color: #555;font-weight: normal;">这是一个快捷回复</a></li>
							<li class="quick-reply-item"><a href="#" style="text-decoration:none;color: #555;font-weight: normal;">这是一个快捷回复</a></li>
							<li class="quick-reply-item"><a href="#" style="text-decoration:none;color: #555;font-weight: normal;">这是一个快捷回复</a></li>
							<li class="quick-reply-item"><a href="#" style="text-decoration:none;color: #555;font-weight: normal;">这是一个快捷回复</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/adminer/common.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/adminer/chat/socket.io-1.3.0.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/adminer/chat/chat_main.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/adminer/chat/chat_ui.js' %}"></script>
		<script src="{% static 'js/show3d/three-69.min.js' %} "></script>
		<script src="{% static 'js/show3d/STLLoader.js' %}"></script>
		<script src="{% static 'js/show3d/OrbitControls.js' %}"></script>
		<script src="{% static 'js/show3d/3dDemo.js' %}"></script>
		<script src="{% static 'js/show3d/uplist.js' %}"></script>
	</body>
</html>
