.main-container{
	top: 50%;
	left: 50%;
	width: 960px;
	height: 700px;
	margin-top: -350px;
	margin-left: -480px;
	position: absolute;
	border: 1px solid #ddd;
	border-radius: 7px;

}
.title-bar{
	padding-top: 13px;
	padding-left: 20px;
	color: #FFF;
	width: 940px;
	height: 37px;
	background-color: #62CDD7;
	border-radius: 6px 6px 0px 0px;
}
.tool-bar{
	width: 960px;
	height: 36px;
	background-color: #EBEBEB;
	position: relative;
	font-size: 14px;
	color:#464747;
}
#tool-bar-check:hover{
	background-color: #FF766F !important;
	color: #FFF;
}
#tool-bar-chat:hover{
	background-color: #FF766F !important;
	color: #FFF;
}
.tool-bar-select{
	float: left;
	width: 77px;
	height: 36px;
	background-color: inherit;
	border: 0px;
}
.tool-bar-select div{
	width: 77px;
	height: 24px;
	background-color: inherit;
	text-align: center;
	padding-top: 12px;
}
.tool-bar-select div:hover{
	background-color: #F54E45 !important;
}
.tool-bar-choosed{
	background-color: #FF766F !important;
	font-size: 14px;
	color: #FFF;
}
.tool-bar-not-choosed{
	background-color: #FF766F;
	font-size: 14px;
	color: #EBEBEB;
}
.tool-bar-select option{
	width: 77px;
	height: 36px;
	background-color: #EBEBEB;
	border: 0px;
}
#tool-bar-check{
	cursor: pointer;
}
#tool-bar-chat{
	cursor: pointer;
}
.search-bar{
	padding-top: 14px;
	width: 960px;
	height: 46px;
	-display: none;
	background-color: #F5F5F5;
}
.search-box{
	margin-left: 725px;
	border: 1px solid #C2C2C2;
	border-right: 0px;
	width: 174px;
	height: 28px;
	float:left;
}
.search-box div{
	width: 28px;
	height: 28px;
	background-color: #111;
	float: left;
}
#search-box-textarea{
	height: 12px;
	width: 129px;
	margin-top: 2px;
	margin-left: 2px;
	resize: none;
	float: left;
	font-size: 13px;
	padding: 6px;
	border: none;
	color: #ADADAD;
	background-color: #F5F5F5;
}
.search-btn{
	width: 45px;
	height: 23px;
	float: left;
	background-color: #FF766F;
	font-size: 15px;
	color: #fff;
	padding-top: 7px;
	padding-left: 14px;
	float: left;
	cursor: pointer;
}
.goods-container{
	width: 960px;
	height: 630px;
	-display: none;
}
.goods-container ul{
	margin: 0px;
	padding: 0px;
}
.good-container{
	width: 960px;
	height: 243px;
	background-color: #F5F5F5;
	border-top: 1px solid #C5C5C5;
}
.good-info{
	width: 950px;
	height: 20px;
	background-color: #EBEBEB;
	padding-top: 10px;
	padding-left: 10px;
	color: #444444;
	font-size: 13px;
}
.good-pic-div{
	width: 676px;
	height: 184px;
	padding-left: 10px;
	padding-top: 13px;
	float: left;
}
.good-pic{
	margin-right: 4px;
	width: 162px;
	height: 162px;
	position: relative;
	float: left;
}
.good-pic img{
	width: 162px;
	height: 162px;
}
.fullscreen-btn{
	background: url('{% static 'images/adminer/widget.png' %}') no-repeat;
	width: 20px;
	height: 20px;
	background-position: -82px -10px;
	position:absolute;
	top: 0px;
	left: 142px;
}
.good-stl{
	margin-right: 4px;
	width: 162px;
	height: 162px;
	position: relative;
	float: left;
	background: url('/static/images/shop/watch3d.png') no-repeat;
	background-size: cover;
}
.pages-bar{
	width: 960px;
	height: 82px;
	background-color: #F5F5F5;
	position: relative;
	bottom: 16px;
	border-radius: 0px 0px 6px 6px;
}
.pages-btn{
	float: left;
	margin-top: 36px;
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	padding-top: 13px;
	background-color: #E6E6E6;
	width: 35px;
	height: 23px;
	margin-left: 5px;
	color: #646666;
	cursor: pointer;
}
.pages-btn:hover{
	background-color: #79D0D9;
	color: #FFF;
}
.pages-btn.choosed{
	background-color: #79D0D9;
	color: #FFF;
}
.good-info-for-detail{
	width: 260px;
	height: 137px;
	float: right;
	padding-left: 13px;
}
.good-btn{
	margin-top: 42px;
	width: 106px;
	height: 25px;
	border-radius: 4px;
	background-color: #62CDD7;
	text-align: center;
	font-size: 14px;
	color: #FFF;
	padding-top: 9px;
	cursor: pointer;
}
.chat-container{
	width: 960px;
	height: 598px;
	padding-top: 14px;
	-border: 1px solid #ECECEC;
	border-top: 0px;
	border-radius: 0px 0px 6px 6px;
	display: none;
	background-color: #F5F5F5;
}
.user-list-box{
	width: 131px;
	height: 597px;
	float: left;
}
.user-list{
	width: 130px;
	height: 560px;
	overflow-y: auto;
	padding-top: 6px;
	border: 1px solid #D9D9D9;
	border-left: 0px;
	border-radius: 0px 0px 0px 6px;
	background-color: #FFF;
}
.chat-user{
	width: 100%;
	height: 46px;
	background-color: #fff;
}
.chat-user.choosed{
	background-color: #E6E6E6;
	color: #464747;
}
.chat-user.hovered{
	background-color: #E6E6E6;
	color: #464747;
}
.chat-user img{
	width: 38px;
	height: 38px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.chat-user div{
	width: 80px;
	float: left;
	margin-top: 10px;
	margin-left: 4px;
	font-size: 13px;
}
.chat-box{
	width: 620px;
	height: 600px;
	float: left;
}
.chat-tag-bar{
	background-color: #62CDD7;
	width: 621px;
	height: 34px;
}
.chat-tag{
	background-color: #57B4BD;
	width: 65px;
	height: 20px;
	font-size: 12px;
	padding-top: 13px;
	padding-left: 12px;
}
.chated-txt{
	width: 620px;
	height: 380px;
	overflow-y: auto;
	background-color: #FFF;
}
.chat-message{
	background-color: #fff;
	-width: 618px;
	-height: 54px;
	margin-top: 5px;
}
.chat-message-info{
	-width: 100%;
	height: 17px;
	font-size: 12px;
	color: #718EDE;
	padding-top: 10px;
	padding-left: 20px;
}
.chat-message-cont{
	-height: 30px;
	width: 580px;
	font-size: 14px;
	color: #333333;
	padding-top: 5px;
	padding-left: 19px;
	word-wrap: break-word;
}
.chat-tool-bar{
	background-color: #F5F5F5;
	height: 32px;
	padding-top: 8px;
	padding-left: 7px;
}
.chat-tool{
	width: 58px;
	height: 23px;
	background-color: #fff;
	border-radius: 2px;
	margin-left: 12px;
	float: left;
	border: 1px solid #DBDBDB;
	cursor: pointer;
}
.chat-entry{
	width: 595px;
	height: 75px;
	resize: none;
	border: 1px solid #E1E1E1;
	background-color: #fff;
	padding: 8px;
	margin-left: 4px;
	overflow-y: auto;
}
.send-msg-bar{
	height: 53px;
	background-color: #F5F5F5;
}
.chatting-btn{
	background-color: #F5756E;
	width: 75px;
	height: 26px;
	border-radius: 8px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	float: right;
	margin-right: 21px;
	margin-top: 8px;
	cursor: pointer;
}
.other-chat-tool-box{
	padding-left: 10px;
	width: 197px;
	height: 600px;
	float: right;
	background-color: #F5F5F5;
	border-radius: 0px 0px 6px 0px;
	border-left: 1px solid #E1E1E1;
}
.user-info-box{
	width: 196px;
	height: 224px;
	background-color: #FFF;
	border: 1px solid #E1E1E1;
	border-bottom: 0px;
}
.user-info{
	height: 193px;
}
.quick-reply-box{
	background-color: #FFF;
	width: 196px;
	height: 374px;
	border: 1px solid #E1E1E1;
	border-radius: 0px 0px 6px 0px;
}
.quick-reply-item{
	margin-top: 4px;
	height: 18px;
	font-size: 12px;
	color: #666666;
	padding-left: 4px;
	padding-top: 2px;2px
	font-weight: bold;
}
.face-box{
	min-width: 300px;
	min-height: 150px;
	max-height: 200px;
	max-width: 400px;
	background-color: #F2F1EB;
	position: absolute;
	top: 366px;
	left: 100px;
	display: none;
}   
.face-box ul li{ 
	float: left;
	margin: 3px;
	list-style-type:none;
}   
.chat-entry img{
	display:inline-block;
}   
.chat-word-cont img{
	display:inline-block;
}  
.tool-bar-msg-remind-mark{
	color: #FF766F;
}
.show-3d-bar-container{
	width: 150px;
	height: 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	left: 347px;
	top: 268px;
	border-radius: 100px;
	z-index: 1;
	display:none;
}
.show-3d-bar{
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	border-radius: 100px;
}
