.introduce{
	width: 100%;
	height: 640px;
	background-image: url(../images/background.png);
}
.main-body{
	width: 100%;
	background-color: #fff;
}
.main-inside{
	width: 80%;
	margin: auto;
}
.main-left{
	float: left;
	width: 77%;
}
.main-right{
	float: right;
	width: 20%;
	margin-left: 10px;
}
.divide-block{
	width: 100%;
	height: 90px;
	clear: both;
	margin-top: 30px;
}
.footer{
	width: 100%;
}
.introduce-detail{
	width: 80%;
	margin:0 auto;
}
.introduce-img{
	width: 400px;
	text-align: center;
	padding-top: 18%;
	margin: auto;
}
.introduce-info{
	margin: auto;
	width: 400px;
	text-align: center;
}
.introduce-ul{
	list-style-type: none;
	margin-top: 10px;
}
.introduce-ul li{
	display: inline;
	margin-right: 50px;
}
#name{
	font-size: 25px;
	color: #d62240;
} 
#city{
	font-size: 20px;
}
#level{
	width: 60px;
	height: 20px;
	background-color: #d62240;
	border-radius: 8px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}
.introduce-style{
	font-size: 20px;
}

.introduce-attention{
	width: 80px;
	height: 30px;
	background-color: #d62240;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	margin:0 auto;
	margin-top: 20px;
}
.first-line{
	margin-top: 20px;
	height: 25px;
}
.dtlist{
	margin-top: 10px;
	background-color: #f5f4f3;
}
.dtitem{
	width: 85%;
	margin: auto;
	padding-top: 25px;
	margin-bottom: 25px;
}
.dtline{
	width: 85%;
	height: 1px;
	border-top: 2px solid #CBCBCB;
	margin:auto;
	clear: both;
}
.dttitle{
	color: #7e7e7c;
}
.title-left{
	float: left;
}
.title-right{
	float: right;
}
.heart-color{
	color: red;
}
.desc{
	margin-top: 10px;
	clear: right;
	color: #7e7e7c;
}

.lqu{
	width:16px;
	height:16px;
	margin-bottom: 0px;
	background: url("../images/lqu.png");
}
.rqu{
	width:16px;
	height:16px;
	margin-bottom: 0px;
	background: url("../images/rqu.png");
}

.design-img{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width: 150px;
	height: 143px;
}
.rxzp{
	float: left;
}
.qbzp{
	float: right;
}
.qbzp a{
	color:black;
}
.qbzp a:hover{
	text-decoration: none;
}
.imglist{
	margin-top: 10px;
}
.img-block{
	display: inline-block;
}

.gddt{
	clear: both;
	margin: auto;
	text-align: center;
	margin-top: 10px;
	background-color: #f5f4f3;
	padding-top: 3px;
	padding-bottom: 3px;
}
.gddt a{
	color:black;
}
.gddt a:hover{
	text-decoration: none;
}
.footer-block{
	width: 80%;
	margin:auto;
	margin-top: 20px;
	margin-bottom:10px;

}
.footer-img{
	width: 80%;
	margin:auto;
	margin-top: 20px;
	margin-bottom:20px;
	clear: both;
}
.footer-label{

}
.vertical-line1{
	width: 1px;
	height: 16px;
	float: left;
	border-left:2px solid;
	margin-top:2px;
	margin-right: 5px;
}
.xssjs{
	width: 220px;
	height: 220px;
	float: left;
	margin-left: 10px;
}












