.nav-middle{
    margin:0;
    border-radius: 0;
    border-top-width: 1px;
    border-top-color:#4389a2;
    width: 100%;
    height:30px;   
}
.nav-middle-container{
    padding-top:5px;
}
.nav-item1{
    float: left;
}
.nav-item2{
    float: left;
    margin-left: 50px;
}
.grsz1{
    display: inline-block;
    width: 24px;
    height: 20px;
    background:url(../images/grsz1.png);
}
.sjs2{
    display: inline-block;
    width: 24px;
    height: 20px;
    background:url(../images/sjs2.png);
}
.zxdt2{
    display: inline-block;
    width: 24px;
    height: 20px;
    background:url(../images/zxdt2.png);
}
.main-body{
    width: 100%;
    background-color: rgba(190, 188, 188, 0.25);
    text-align: center;
}
.main-container{
    display: inline-block;
    width:85%;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
.main-left{
    text-align: center;
    float: left;
    display: inline;
    margin-left: 50px;
    background-color: rgba(252, 252, 252, 0.47);
    width: 180px;
    height:900px;
}
.main-right{
    text-align: left;
    background-color: white;
    float: left;
    width: 850px;
    height:900px;
    overflow-y:auto;
}
.horizontal-line{
    width:166px;
    height: 1px;
    border-top: 1px dashed #ccc;
    position: absolute;
    margin-left: 7px;
}
.left1{
    padding-top: 15px;
    height: 200px;
}
.left2{
    padding-top: 20px;
    height: 90px;
}
.left3{
    padding-top: 20px;
    height: 130px;
}
.left4{
    padding-top: 20px;
    height: 90px;
}
.left5{
    padding-top: 20px;
    height: 90px;
}
.left-nav{
    padding-left: 0px;
}
.astyle{
    padding-top: 7px;
    list-style-type: none;
    
}
.left-nav-a{
    color: #898484;
}
.left-nav-active{
    color: #62B2B2;
    text-decoration:none;
}
.right-container{
    background-color: white;
    width:750px;
    margin-top: 50px;
    margin-left: 50px;
}
.main-title{
    background-color: rgba(236, 233, 233, 0.47);
    color: #62B2B2;
}  
.title-style{
    margin-left:10px; 
}