.lines{
	width: 750px;
	margin:auto;
	clear: both;
}
.qbgz{
	float: left;
	margin-left: 20px
}
.search{
	float: right;
	border: 1px solid;
	margin-right: 10px
}
.i_search{
	background-color:rgba(0, 0, 0, 0);
	border: 0px;
}
.search-icon-color{
	color: #898484;
}
.star-color{
	color: red;
}
.designers-line1{
	margin-top: 30px;
	height: 236px;
}
.designers-line2{
	margin-top: 20px;
	height: 154px;
}
.designer-type1{
	width:350px;
	height: 236px;
	float: left;
	margin-left: 20px;
	position: relative;
}
.designer-type2{
	width:226px;
	height: 154px;
	float: left;
	margin-left: 20px;
	position: relative;
}
.img-block{
	position: absolute;
	z-index: 2;
}
.img-des-block{
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.65);
	z-index:3;
	position: absolute;
	display: none;
}
.img-des{
	margin-left: 10px;
	margin-right: 20px;
	color: white;
}
.thome{
	float: right;
	color: #42849b;
}
.img-des>a:hover{
	text-decoration: none;
}