.sign-page {
	background-image:url('/static/images/shop/index/index-banner-bg.jpg');
}
.enter-btn {
	color:#62cdd7;
	background:#fff;
	width:190px;
	height:40px;
	line-height:40px;
	border:1px solid #62cdd7;
	border-radius:4px;
}
.wehave {
	padding-top:80px;
	padding-bottom:60px;
}
.wehave-box {
	width:830px;
}
.wehave-list {
	width:140px;
	float:left;
}
.wehave-l-last {
	width:145px;
}
.wehave-list p {
	font-size:20px;
	margin-top:4px;
}
.wehave-list p.doforyou {
	font-size:14px;
}
.wehave-list p.wehave-txt {
	width:200px;
	margin-top:10px;
	margin-left:-30px;
	font-size:12px;
	color:#999;
}
.wehave-bg {
	width:126px;
	height:115px;
	background-image:url('/static/images/shop/index/home-icons.png');
	background-position:-132px -10px;
}
.designer-ico {
	background-position:-8px -10px;
}
.work-ico {
	width:145px;
	height:115px;
	background-position:-255px -10px;
}
.mr200 {
	margin-right:200px;
}

.ds-designer-img {
	display:block;
	width:310px;
	height:255px;
	background-image:url('/static/images/shop/index/home-icons.png');
	background-position:-10px -347px;
}
.ds-to-bg {
	width:110px;
	height:85px;
	background-image:url('/static/images/shop/index/home-icons.png');
	background-position:-10px -605px;
}
.ds-seller-img {
	display:block;
	width:255px;
	height:255px;
	background-image:url('/static/images/shop/index/home-icons.png');
	background-position:-322px -345px;
}
.ds-to-seller {
	padding-top:70px;
}
.wechanged {
	background:#fafafa;
	padding:70px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.theprocess {
	margin:70px 0;
}
.theprocess-title {
	margin-bottom:70px;
	font-family:'方正悠黑简体_超细';
}
.process-cont {
	width:452px;
}
.process-txt {
	width:200px;
	position:absolute;
}
.pt-push {
	left:-220px;
	top:20px;
}
.pt-show {
	right:-220px;
	top:120px;
}
.pt-download {
	left:-220px;
	top:230px;
}
.pt-print {
	right:-220px;
	top:350px;
}
.pt-wewin {
	left:-220px;
	top:480px;
}
.lh20 {
	line-height:20px;
}
.cooperate-wrap {
	padding:70px 0;
	background:#fafafa;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.cooperate-box {
	width:980px;
}
.cooperate-box img {
	float:left;
	margin:10px;
	width:120px;
	height:60px;
}
.slider-bottom {
	background:url('/static/images/shop/index/bk-freeze.jpg');
	background-size:cover;
}
.slider-bottom .container {
	height:625px;
	overflow:hidden;
}
.slider-bottom ul.s-b-box {
	height:625px;
	color:#fff;
}
.slider-bottom ul.s-b-box li {
	width:1140px;
	height:625px;
	float:left;
}
.s-b-cont {
	padding-top:70px;
	width:900px;
}
.f38 {
	font-size:38px;
}
.lh28 {
	line-height:28px;
}
.person-bg {
	width:433px;
	height:408px;
}
.person-customer {
	background-image:url('/static/images/shop/index/person-customer.png');
}
.person-designer {
	background-image:url('/static/images/shop/index/person-designer.png');
}
.person-seller {
	background-image:url('/static/images/shop/index/person-seller.png');
}
.person-seller span, .person-customer span {
	left:130px;
	bottom:36px;
	font-size:16px;
	color:#777;
}
.person-designer span {
	right:170px;
	bottom:38px;
	font-size:16px;
	color:#777;
}
.person-txt {
	margin-top:170px;
	line-height:28px;
	text-indent:2em;
}
.airm-bottom {
	height:60px;
	background:#fff;
	border-bottom:1px solid #ddd;
}
.airm-bottom ul {
	margin-top:20px;
}
.airm-bottom ul li {
	display:inline-block;
	width:13px;
	height:13px;
	border-radius:50%;
	background:#6fd1da;
	margin-left:40px;
	cursor:pointer;
}
.airm-bottom ul li.active {
	width:18px;
	height:18px;
	margin-bottom:-2px;
}
.airm-bottom ul li:first-child {;
}
.index-joinus {
	padding-top:70px;
	padding-bottom:100px;
}
.ind-join-title {
	color:#64BDC5;
	font-size:38px;
}
.ind-title {
	font-size:38px;
	color:#333;
}



