body.sign #footer {
	border-top:0;
}
.sign-page {
	height:440px;
	padding-top:100px;
	background:url('/static/images/shop/page-banner.jpg') no-repeat;
	background-size:cover;
}
.banner-word span {
	display:block;
	width:220px;
	height:60px;
	background-image:url('/static/images/common/logo.png');
	background-repeat:no-repeat;
	background-position:-10px -10px;
}
.banner-word p {
	font-size:26px;
	color:#fff;
}
.contact-btn {
	width:190px;
	height:40px;
	line-height:40px;
	color:#fff;
	border:1px solid #fff;
	border-radius:4px;
}
.contact-btn:hover {
	color:#fff;
}

.input-play-wrap {
	height:350px;
	overflow:hidden;
}
.input-play-box {
	width:750px;
	left:0;
	top:0;
}
.signin-btn-box.fr, .signup-btn-box.fr {
	margin-top:5px;
}
.sign-login {
	width:240px;
	color:#fff;
}
.signUp, .signIn {
	color:#fff;
}
.signUp:hover, .signIn:hover {
	color:#fff;
}
.sign-empty-box input {
	width:222px;
	height:34px;
	padding:0 8px;
	background:#fff;
	border-radius:4px;
	border:1px solid #ccc;
}
.sign-empty-box input.active {
	border:1px solid #f00;
	-color:#f00;
}
.sign-empty-box p {
	height:30px;
	line-height:30px;
	padding-left:8px;
	margin-top:5px;
	background:#58bcc5;
	border-radius:4px;
}
em.test-ts {
	display:inline-block;
	width:18px;
	height:18px;
	background-image:url('/static/images/shop/test-ts-icons.png');
	background-repeat:no-repeat;
	background-position:-10px -50px;
	margin-bottom:-2px;
}
.register-btn, .register-next, .login-btn {
	width:240px;
	height:40px;
	color:#fff;
	cursor:pointer;
	background:#f8b551;
	border-radius:4px;
}
.register-btn:hover {
	background:#f7a831;
}
.back-prev, .no-invite, .forget-pw {
	color:#fff;
	border-bottom:1px solid #fff;
	padding-bottom:2px;
}
.back-prev:hover, .no-invite:hover, .forget-pw:hover {
	color:#fff;
}
.sign-bindphoto, .sign-signUp, .sign-signIn {
	width:240px;
	margin-right:10px;
}
.sign-remeber-in input {
	width:15px;
	height:15px;
	vertical-align:bottom;
}
.contact-info-wrap {
	width:760px;
	height:440px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-220px;
	margin-left:-380px;
	background:#fff;
	border:1px solid #ddd;
	box-shadow:0px 1px 8px 1px #ccc;
}
.contact-info-box {
	padding:20px;
}
.contact-info-logo {
	border-bottom:2px solid #ccc;
}
.info-body {
	margin-top:60px;
	width:550px;
}
.contact-service-btn {
	width:230px;
	height:40px;
	cursor:pointer;
	color:#fff;
	background:#62cdd7;
}
.info-img {
	width:95px;
	height:95px;
	background-image:url('/static/images/shop/test-ts-icons.png');
	background-repeat:no-repeat;
	background-position:-10px -78px;
	margin-top:30px;
	margin-right:10px;
}
em.contact-phone {
	display:inline-block;
	width:40px;
	height:40px;
	background-image:url('/static/images/shop/test-ts-icons.png');
	background-repeat:no-repeat;
	background-position:-10px -176px;
	margin-bottom:-14px;
}
.contact-close {
	right:20px;
	top:30px;
	width:19px;
	height:19px;
	background-image:url('/static/images/shop/test-ts-icons.png');
	background-repeat:no-repeat;
	background-position:-17px -10px;
}

