body{
	position: relative;
}
.designer-header{
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 12px;
	background: #fff;
}
.designer-head-loginName{
	width: 100px;
}
.designer-herf{
	margin-left: 24px;
	color: #38b3be;
}
.designer-main{
	padding-top: 78px;
}
.designer-sidebar{
	width: 200px;
	height: auto;
	background: #fff;
	text-align: center;
}
.designer-sidebar-headbox{
	width: 100%;
	height: 278px;
}
.designer-sidebar-pic{
	height: 152px;
	width: 152px;
	margin: -48px auto 0;
	padding: 5px;
	margin-bottom: 36px;
}
.designer-sidebar-pic img{
	height: 152px;
	width: 152px;
}
.designer-sidebar-title{
	width: 130px;
	margin: 0 auto;
	overflow: hidden;
}
.designer-sidebar-title-icon{
	display: inline-block;
	height: 22px;
	width: 22px;
	background: url(../../images/designer/designerIcon.png) no-repeat -10px -97px;
	margin-bottom: -4px;
}
.designer-sidebar-username{
	margin: 16px auto 0;
}
.designer-quiet{
	display: inline-block;
	padding-left: 12px;
	margin-left: 5px;
	border-left: 1px solid #8f9090;
}
.designer-sidebar-menu{
	width: 100%;
	margin-top: 10px;
}
.designer-sidebar-menulist{

	line-height: 88px;
	border-top: 1px solid #ccc;
	cursor: pointer;
}
.designer-sidebar-menulist>a{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 20px;
	font-family: 黑体;
	color: #949494;
	font-weight: normal;
}
.designer-sidebar-menu a:hover{
	color: #38b3be;
}
.menu-current{
	background: #f6f6f6;

}
.designer-mainContent{
	width: 900px;
	min-height:556px;
	padding-bottom:40px;
	background: #fff;
	margin-left: 25px;
}
.designer-upfile{
	width: 560px;
	height: 340px;
	margin: 84px auto;
}
.designer-upfile-btn{
	height: 82px;
	width: 168px;
	border-radius: 3px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
}
.designer-upfile-instructions{
	width: 313px;
	height: 67px;
	font-size: 14px;
	color: #949494;
	border: 1px solid #ccc;
	margin-left: 54px;
	padding: 10px;
}
.designer-upfile-show{
	height:183px;
	margin:26px 0;
	width:100%;
	overflow:scroll;
}
.designer-upfile-show p {
	margin:8px;
}
#designer-upfile-btn{
	background: #63cdd7;
}
.designer-works-menu{
	display: block;
}
.designer-works-menu li{
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #ccc;
}
.designer-works-menu  a{
	font-size: 14px;
	color: #949494;
}
.designer-works-container{
	width: 805px;
	margin: 40px auto 0;
}
.designer-works-btn{
	width: 815px;
	margin-left: -10px;
}
.designer-works-btn button{
	display: inline-block;	
	width: 190px;
	height: 62px;
	margin-left: 10px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
}
.works-current{
	background: #63cdd7;
}
.designer-works-nav{
	margin-left: -35px;
	height: 30px;
	line-height: 30px;
}
.designer-works-nav li{ 
	float: left;
	font-size: 18px;
	color: #5b5b5b;
	margin-left: 35px;
	font-weight: normal;
	cursor: pointer;
}
.designer-works-nav .designer-works-nav-current{
	font-weight: bold;
}
.designer-works-search{
	height: 30px;
	width: 219px;
	border: 1px solid #63cdd7;
	position: relative;
}
.designer-works-search input{
	height: 30px;
	width: 190px;
	font-size: 16px;
	text-indent: 5px;
	border: none;
	clear: both;
}
.designer-works-search-icon{
	position: absolute;
	right: 0;
	top:0;
	height: 30px;
	width: 27px;
	background: url(../../images/designer/designerIcon.png) no-repeat -257px -97px;
	cursor: pointer;
}
.designer-works-lists{
	margin-bottom:60px;
	clear:both;
	position: relative;
}
.designer-works-list-box{
	height: 123px;
	border-top: 1px solid #8f9090;
	padding: 22px 0;
}
.designer-works-sort{
	position: absolute;
	height: 28px;
	line-height: 28px;
	left: 0;
	top: -28px;
	border-right: 1px solid #ddd;
	display: none;
}
.designer-works-sort li{
	float: left;
	width: 81px;
	text-align: center;
	cursor: pointer;
	color: #4c4c4c;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.designer-works-sort span:after{
	content: '';
	display: inline-block;
	margin-left: 5px;
	height: 8px;
	width: 14px;
	background: url(../../images/designer/designerIcon.png) no-repeat -34px -383px;
}
.designer-works-sort .sort-current{
	background: #62cdd7;
	color: #fff;
}
.sort-current span:after{
	content: '';
	display: inline-block;
	margin-left: 5px;
	height: 8px;
	width: 14px;
	background: url(../../images/designer/designerIcon.png) no-repeat -10px -383px;
}
.designer-works-list-bigpic{
	width: 178px;
	height: 122px;
	overflow: hidden;
}
.designer-works-list-bigpic img{
	max-width: 178px;
	height: auto;
	margin: 0 auto;
}
.designer-works-list-detail{
	width: 302px;
	height: 122px;
	padding: 0 21px;
	border-left: 1px solid #8f9090;
	border-right: 1px solid #8f9090;
}
.designer-works-list-smdetail{
	width: 235px;
	height: 122px;
	padding: 0 21px;
	border-left: 1px solid #8f9090;
	border-right: 1px solid #8f9090;
}
.designer-works-list-title{
	font-size: 14px;
	line-height: 25px;
	color: #5b5b5b;
	font-weight: bold;
}
.designer-works-list-describe{
	line-height: 19px;
	height: 40px;
	overflow: auto;
}
.designer-works-list-pics{
	width: 156px;
	margin-left: -10px;
	margin-top: 16px;
}
.designer-works-list-pics img{
	float: left;
	width: 42px;
	height: 42px;
	margin-left: 10px;
}
.designer-works-list-status{
	width: 144px;
	padding: 23px 38px 0;
}
.designer-works-list-status strong{
	font-size: 20px;
	color:#62cdd7;
	line-height: 36px;
}
.designer-works-list-status p{
	line-height: 18px;
}
.designer-works-list-data{
	width:158px;
	height:122px;
	padding:0 10px;
	overflow:hidden;
}
.list-data-box{
	width: 60px;
	padding:0 5px;
	text-align: center;
}
.list-data-box:first-child{
	-border-right: 1px solid #8f9090;
}
.list-data-num{
	color: #ff7972;
	font-size: 20px;
	height: 32px;
	display: block;
}
.list-data-price{
	margin-top: 15px;
	font-size:12px;
}
.list-data-price-num{
	font-size: 18px;
	color: #ff5100;
	margin-right: 8px;
}
.list-data-update{
	margin-top:10px;
}
.designer-works-modify{
	height: 122px;
	padding-left:10px;
	border-left: 1px solid #8f9090;
	position: relative;
}
.designer-works-modify button{
	display: block;
	height: 32px;
	width: 92px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.works-modify-btn{
	background: #62cdd7;
	color: #fff;
	margin: 25px 0 10px;
}
.w-modify-btn {
	background: #62cdd7;
	width:56px;
	height:22px;
	cursor:pointer;
	border-radius:3px;
	color:#fff;
}
.works-cancel-btn{
	background: #f6f6f6;
	color: #949494;
}
.works-cancel-check{
	position: absolute;
	right: 0;
	top: 0;
	height: 16px;
	width: 16px;
	cursor: pointer;
}
.designer-works-cancelAll,.designer-works-deleteAll{
	position: absolute;
	right: 15px;
	bottom: -45px;
	font-size: 14px;
}

.works-cancelAll-btn {
	width:120px;
	height:36px;
	cursor:pointer;
	color:#fff;
	border-radius:5px;
	margin-right:20px;
}
.works-deleteAll-btn {
	width: 120px;
    height: 34px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
}
.works-cancel-allcheck,.works-delete-allcheck{
	margin-left: 12px;
	height: 17px;
	width: 17px;
	cursor: pointer;
}
.designer-works-page{
	height: 36px;
	padding:20px 0;
	border-top: 1px solid #8f9090;
}
.designer-works-page li{
	float: left;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	background: #f7f7f7;
	border-radius: 3px;
	margin-left: 5px;
	cursor: pointer;
}
.designer-works-page .page-current{
	background: #79d0d8;
	color: #fff;
}
.designer-works-wait{
	width: 805px;
	text-align: center;
	vertical-align: middle;
}
.designer-works-wait tr{
	height: 48px;
}
.designer-works-wait th{
	background: #fafafa;
}
.designer-works-wait td{
	height: 48px;
	border-top: 1px solid #8f9090;
}
.designer-works-wait span{
	display: block;
	height: 22px;
	width: 100%;
	border-right: 1px solid #8f9090;
}
.go-setprice{
	width: 80px;
	height: 24px;
	background: #62cdd7;
	color: #fff;
	cursor: pointer;
}
.works-not-container{
	width: 183px;
	padding: 0 25px;
}
.works-not-explain{
	margin:22px 0 25px;
}
.works-wait-delete-check{
	height: 17px;
	width: 17px;
	margin-left: 5px;
	margin-top:-2px;
	cursor: pointer;
}
.designer-mydata,.designer-mydata-group{
	width: 915px;
	background: #fff;
	margin-left: 15px;
}
.designer-mydata{
	height: 290px;
}
.designer-mydata-group{
	margin-top: 12px;
}
.designer-mydata ul{
	width: 888px;
	margin: 58px auto;
	text-align: center;
}
.designer-mydata li{
	float: left;
	width: 222px;
}
.designer-mydata label{
	color: #949494;
	font-size: 16px;
	display: block;
}
.designer-mydata strong{
	font-family: "Avenir";
	font-size: 24px;
	color: #ff6709;
	font-weight: normal;
}
.designer-mydata-box{
	display: block;
	width: 222px;
	height: 77px;
	border-left: 1px solid #8f9090;
}
.first-box{
	border-left: none;
}
.designer-mydata label::before{
	content: "";
	display: block;
	margin-bottom: 22px;
}
.mydata-worksNum::before{
	background: url(../../images/designer/designerIcon.png) no-repeat  -10px -10px;
	height: 77px;
	width: 60px;
	margin: 0 auto;
}
.mydata-collectionNum::before{
	background: url(../../images/designer/designerIcon.png) no-repeat  -80px -10px;
	height: 77px;
	width: 63px;
	margin: 0 auto;
}
.mydata-downloadNum::before{
	background: url(../../images/designer/designerIcon.png) no-repeat  -153px -10px;
	height: 77px;
	width: 93px;
	margin: 0 auto;
}
.mydata-focusNum::before{
	background: url(../../images/designer/designerIcon.png) no-repeat  -257px -10px;
	height: 77px;
	width: 74px;
	margin: 0 auto;
}
.designer-mydata-groupbox{
	width: 785px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.num-visit{
	margin-top: 50px;
}
.num-visit-title{
	font-size: 20px;
	color: #949494;
	font-weight: normal;
}
.chart-btn{
	color: #949494;
	font-size: 16px;
	padding: 0 15px;
}
.active{
	color: #63cdd7;
}
.designer-baseInfo{
	width: 915px;
	margin-left: 15px;
}
.designer-baseInfo-container{
	width: 770px;
	padding:36px 72px;
	color: #949494;
	background: #fff;
}
.designer-baseInfo-container h2{
	font-size: 20px;
	margin-bottom: 65px;
}
.ower-alipay-info {
	height:500px;
	padding:36px 72px;
	color: #949494;
	background: #fff;
}
.btn-changepw {
	display:inline-block;
	width:74px;
	height:24px;
	font-size:14px;
	color:#fff;
	background:#79d0d8;
	cursor:pointer;
	border-radius:5px;
}
.uinfo-box {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}
.add-alipay-btn {
	display:inline-block;
	width:250px;
	height:160px;
	background-color:#fff;
	color:#62cdd7;
	border:1px solid #62cdd7;
	border-radius:6px;
}
em.add-alipay-ico {
	display:block;
	width:50px;
	height:50px;
	background-image:url('/static/images/designer/add-alipay-ico.png');
	background-position:-10px -10px;
}
.add-alipay-btn:hover {
	color:#fff;
	background-color:#62cdd7;
}
.add-alipay-btn:hover em.add-alipay-ico {
	background-position:-10px -70px;
}
.designer-modify-photo{
	width: 172px;
	text-align: center;
}
.designer-modify-photo img{
	height: 172px;
	width: 166px;
}
.modify-photo-btn{
	display: inline-block;
	color: #62cdd7;
	margin-top: 14px;
	font-size: 14px;
	cursor: pointer;
}
.modify-photo-btn a {
	color: #79d0d8;
}
.modify-photo-btn::after{
	content: "";
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../../images/designer/designerIcon.png) no-repeat -84px -129px;
	margin-left: 5px;
}
.designer-personInfo {
	width: 357px;
	height: 218px;
	text-align: center;
	border-left: 1px solid #ddd;
	margin-left: 75px;
	font-size: 20px;
}
.designer-personInfo p {
	margin-top:15px;
}
.designer-personInfo p label {
	font-size:16px;
	color:#555;
	margin-right:10px;
}
.modify-content {
	position: fixed;
	background: #fff;
	top: 50%;
	left: 50%;
	margin-left: -369px;
	margin-top:-270px;
	height: 428px;
	width: 656px;
	padding: 55px 40px;
	z-index: 33;
	color: #949494;
	border:1px solid #ddd;
	box-shadow:0px 2px 12px 2px #ddd;
	display: none;
}
.designer-zoom {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: .5;
	z-index: 22;
	display: none;
}
.modify-left{
	height: 320px;
	width: 300px;
	border-right: 1px solid #ccc;
}
.modify-stl{
	width: 260px;
	height: 260px;
	border:1px solid #ccc;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.modify-stl-preview{
	width: 260px;
	height: 260px; 
}
.modify-stl-show{
	position: absolute;
	width: 100%;
	height:54px;
	bottom: 0;
	left: 0;
	background: #62cdd7;
	opacity: .8;
	color: #fff;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
}

.modify-show-info{
	margin-top: 20px;
}
.modify-info-box{
	margin-left: -15px;
	height: 20px;
}
.modify-info-box label{
	margin-left: 15px;
}
.modify-right{
	width: 315px;
	height: 320px;
	padding-left: 37px;
}
.modify-right p {
	margin-top:25px;
}
.modify-imgs-modify-hidden{
	height: 0;
	visibility: hidden;
}
.modify-imgs-container{
	height: 90px;
	margin-left: -30px;
}
.modify-imgs-box{
	height: 88px;
	width: 88px;
	border:1px solid #ccc;
	margin-left: 25px;
	position: relative;
}
.modify-imgs-box img{
	height: 88px;
	width: 88px;
}
.modify-imgs-modify{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 24px;
	line-height: 24px;
	width: 88px;
	background: #62cdd7;
	opacity: .8;
	text-align: center;
}
.modify-imgs-modify a{
	color: #fff;	
}
.modify-imgs-modify a:hover{
	color: #d666b3;
}
.modify-imgs-modify-btn{
	border-right: 1px solid #fff;
}
.modify-name,.modify-price{
	-display: block;
	width: 140px;
	height: 30px;
	border:1px solid #ccc;
	text-indent: 4px;
}
.modify-price{
	width: 80px;
}
.modify-describe{
	display:inline-block;
	width: 244px;
	height: 64px;
	padding: 5px;
}
.modify-btn-container{
	clear: both;
	margin-top: 30px;
	border-top: 1px solid #ccc;
	width: 100%;
	height: 65px;
	text-align: center;
	padding-top: 35px;
}
.modify-btn-submit,.modify-btn-cancel{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	width: 100px;
	font-size: 16px;
	cursor: pointer;
}
.modify-btn-submit{
	background: #62cdd7;
	color: #fff;
	margin-right: 25px;
}
.modify-btn-cancel{
	background: #f6f6f6;
	color: #949494;
}
.modify-container-close{
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	width: 40px;
	background: url(../../images/designer/designerIcon.png) no-repeat -10px -332px;
	cursor: pointer;
}

.works-canelAll-btn {
	width:120px;
	height:36px;
	cursor:pointer;
	color:#fff;
	border-radius:5px;
	margin-right:20px;
}
.works-canelbox {
	float:right;
	margin-top:10px;
}
em.upfile-success {
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:20px;
	background-image:url('/static/images/designer/designerIcon.png');
	background-repeat:no-repeat;
	background-position:-110px -128px;
	vertical-align:center;
}
.delete-file {
	color:#63cdd7;
}


/* designer-show */
.designer-show-head {
	padding-top:1px;
	height:385px;
	background-image:url('/static/images/designer/designer-show-bg.jpg');
	background-size:cover;
}
.d-showhead-box {
	width:210px;
}
.designer-show-img {
	width:210px;
	height:210px;
}
.designer-show-img img {
	width:210px;
	height:210px;
	border-radius:20px;
}
.designer-show-info p {
	color:#fff;
}
.show-mark-btn, .no-show-mark-btn {
	color:#fff;
}
.show-mark-btn:hover {
	color:#f00;
}
em.designer-show-mark {
	display:inline-block;
	width:19px;
	height:19px;
	background-image:url('/static/images/designer/designerIcon.png');
	background-repeat:no-repeat;
	background-position:-132px -154px;
	margin-bottom:-5px;
	margin-right:7px;
}
.show-mark-btn:hover em.designer-show-mark {
	background-position:-161px -154px;
}
.show-mark-btn.active, .no-show-mark-btn.active {
	color:#f00;
}
.show-mark-btn.active em.designer-show-mark, .no-show-mark-btn.active em.designer-show-mark {
	background-position:-161px -154px;
}
.ds-classify-box {
	width:510px;
	height:32px;
	line-height:32px;
}
.ds-classify-box ul li {
	display:inline-block;
	font-size:16px;
	margin:0 18px;
}
.ds-classify-box ul li a {
	padding-bottom:4px;
	color:#555;
}
.ds-classify-box ul li a:hover {
	border-bottom:3px solid #62cdd7;
}
.ds-classify-box ul li a.active {
	border-bottom:3px solid #62cdd7;
}
.filter-bynum {
	border:1px solid #e9e9e9;
	border-radius:3px;
}
.filter-bynum a {
	padding:10px 20px;
	background:#f8f8f8;
	float:left;
	margin-left:1px;
}
.filter-bynum a:first-child {
	margin-left:0;
}
.filter-bynum a:hover, .filter-bynum a.active {
	background:#62cdd7;
	color:#fff;
}
.ds-list-box ul li {
	float:left;
	padding:15px 20px;
}
.list-box {
	padding:20px;
	border:1px solid #ddd;
	-box-shadow:0px 1px 3px 1px #ccc;
}
.list-img {
	width:200px;
	height:200px;
}
.list-img img {
	width:200px;
	height:200px;
}
.list-title a {
	color:#79d0d8;
}
em.list-mark-btn-ico {
	display:inline-block;
	width:15px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url('/static/images/common/site-icons.png');
	background-position:0 -11px;
	vertical-align:bottom;
}
em.mark-num-ico {
	background-position:-192px -11px;
}
a.goods-tomark {
	right:5px;
	top:5px;
	padding:4px 8px;
	background:#f1f2f3;
	border-radius:3px;
	box-shadow:0px 1px 3px 1px #ccc;
	display:none;
}
.list-box:hover a.goods-tomark {
	display:block;
}
a.goods-tomark:hover, a.goods-tomark.active {
	color:#f25149;
}
a.goods-tomark:hover em.list-mark-btn-ico, a.goods-tomark.active em.list-mark-btn-ico {
	background-position:-192px -35px;
}
em.download-num-ico, em.mark-num-ico, em.list-mark-btn-ico {
	display:inline-block;
	width:14px;
	height:14px;
	background-repeat:no-repeat;
	background-image:url('/static/images/common/site-icons.png');
	vertical-align:bottom;
}
em.download-num-ico {
	background-position:-10px -11px;
}
em.mark-num-ico {
	background-position:-192px -11px;
}

.set-alipay-wrap, .set-headportrait-wrap, .change-headportrait-wrap {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
}
.set-alipay-box {
	width:430px;
	height:320px;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-180px;
	margin-left:-235px;
	background:#fff;
	padding:20px;
}
.set-alipay-head {
	border-bottom:1px solid #ccc;
}
.set-cont-box {
	width:250px;
}
.set-cont-list {
	margin-bottom:20px;
}
.pay-empty {
	width:240px;
	padding-left:8px;
	height:34px;
}
.set-payinfo-btn button {
	width:117px;
	height:34px;
	border:1px solid #62cdd7;
	cursor:pointer;
}
.bind-btn {
	color:#fff;
	background:#62cdd7;
}
.close-bind {
	color:#999;
	background:#fff;
}
.close-set, .close-headportrait {
	width:40px;
	height:40px;
	right:0;
	top:0;
	cursor:pointer;
	background-image:url('/static/images/designer/designerIcon.png');
	background-position:-10px -332px;
}
em.test-ico {
	width:24px;
	height:24px;
	top:5px;
	right:-30px;
}
em.test-ico.test-true {
	background-image:url('/static/images/designer/designerIcon.png');
	background-position:-106px -126px;
}
em.test-ico.test-false {
	background-image:url('/static/images/designer/designerIcon.png');
	background-position:-170px -126px;
}
.set-headportrait-box {
	width:410px;
	height:210px;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-125px;
	margin-left:-225px;
	background:#fff;
	padding:20px;
}
.set-head-title {
	padding-bottom:14px;
	border-bottom:1px solid #ccc;
}
.set-head-box {
	width:200px;
}
.set-head-btn {
	width:200px;
	height:38px;
	background:#62cdd7;
	color:#fff;
	cursor:pointer;
}
.set-payinfo-btn {
	width:250px;
}
.change-head-box {
	width:500px;
}
.change-headportrait-box {
	width:580px;
	height:520px;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-280px;
	margin-left:-310px;
	background:#fff;
	padding:20px;
}
.va-t {
	vertical-align:top;
}
#designer-next-btn.actived {
	background:#63cdd7;
}
.show-3d-bar-container{
	width: 200px;
	height: 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	left: 215px;
	top: 268px;
	border-radius: 100px;
	z-index: 60;
	display:none;
}
.show-3d-bar{
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	border-radius: 100px;
}
