@charset "utf-8";
/*
*  @名称：base.css v0.1.0
*  @功能：1、重置浏览器默认样式
* 		 2、设置通用类
*/


/* 重置所有元素自带的margin\padding */
body, body * {
	padding:0;
	margin:0;
}

/* 表单元素不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:14px Microsoft YaHei,arial,sans-serif;
    color:#555;
    outline:none;
}
input,select,textarea,button {
    font-size:100%;
    border:1px solid #ccc;
}
textarea {
	resize:none;
}
/* 去除默认边框 */
img {
    border:none;
    display:block;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:none;
    color:#79d0d8;
}
a.hover:hover {
	color:#79d0d8;
}
a.chover {
	color:#555;
}

/* 默认不显示下划线，保持页面简洁 */
a {
    text-decoration:none;
    color:#555;
    font-weight:normal;
}

/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}

/* 取消双击选取出现的不良好现象 */
button{
	border: none;
	outline: none;
}
*.unselectable {
	-moz-user-select:-moz-none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

/* 字体大小 */
.f12 {
	font-size:12px;
}
.f13 {
	font-size:13px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px;
}
.f18 {
	font-size:18px;
}
.f20 {
	font-size:20px;
}
.fb {
	font-weight:bold;
}
.fn {
	font-weight:normal;
}
.ti2 {
	text-indent:2em;
}
.lh150 {
	line-height:150%;
}
.lh180 {
	line-height:180%;
}
.lh200 {
	line-height:200%
}
.unl {
	text-decoration:underline;
}
.no_unl {
	text-decoration:none;
}
.ww-bw {
	word-wrap:break-word;
}
.t-el {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/* 文字对齐方式 */
.tl {
	text-align:left;
}
.tc {
	text-align:center;
}
.tr {
	text-align:right;
}

/* 浏览器水平居中 */
.bc {
	margin-left:auto;
	margin-right:auto;
}

/* 设置浮动，减少浮动带来的 bug */
.fl {
	float:left;
	display:inline;
}
.fr {
	float:right;
	display:inline;
}
.cb {
	clear:both;
}
.cl {
	clear:left;
}
.cr {
	clear:right;
}
.clearfix:after {
	content:'';
	display:block;
	height:0;
	clear:both;
}
.clearfix {
	*zoom:1;
}

.inl-b {
	display:inline-block;
}

/* 设置定位 */
.pr {
	position:relative;
}
.pa {
	position:absolute;
}
.hidden {
	visibility:hidden;
}
.show {
	display:block;
}
.hide {
	display:none;
}
 
/* 宽度 */

.w10 {
	width:10px;
}
.w20 {
	width:20px;
}
.w30 {
	width:30px;
}
.w40 {
	width:40px;
}
.w50 {
	width:50px;
}
.w60 {
	width:60px;
}
.w70 {
	width:70px;
}
.w80 {
	width:80px;
}
.w90 {
	width:90px;
}
.w100 {
	width:100px;
}
.w200 {
	width:200px;
}
.w300 {
	width:300px;
}
.w400 {
	width:400px;
}
.w500 {
	width:500px;
}
.w600 {
	width:600px;
}
.w700 {
	width:700px;
}
.w800 {
	width:800px;
}
.w {
	width:100%;
}

/* 高度 */

.h50 {
	height:50px;
}
.h80 {
	height:80px;
}
.h100 {
	height:100px;
}
.h200 {
	height:200px;
}
.h {
	height:100%;
}

/* margin */
.m10 {
	margin:10px;
}
.m15 {
	margin:15px;
}
.m30 {
	margin:30px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.mt30 {
	margin-top:30px;
}
.mt50 {
	margin-top:50px;
}
.mt100 {
	margin-top:100px;
}
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom:10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}
.mb30 {
	margin-bottom:30px;
}
.mb50 {
	margin-bottom:50px;
}
.mb100 {
	margin-bottom:100px;
}
.ml5 {
	margin-left:5px;
}
.ml10 {
	margin-left:10px;
}
.ml15 {
	margin-left:15px;
}
.ml20 {
	margin-left:20px;
}
.ml30 {
	margin-left:30px;
}
.ml50 {
	margin-left:50px;
}
.ml100 {
	margin-left:100px;
}
.ml150 {
	margin-left:150px;
}
.mr5 {
	margin-right:5px;
}
.mr10 {
	margin-right:10px;
}
.mr15 {
	margin-right:15px;
}
.mr20 {
	margin-right:20px;
}
.mr30 {
	margin-right:30px;
}
.mr50 {
	margin-right:50px;
}
.mr100 {
	margin-right:100px;
}

/* padding */
.p10 {
	padding:10px;
}
.p15 {
	padding:15px;
}
.p30 {
	padding:30px;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.pt30 {
	padding-top:30px;
}
.pt50 {
	padding-top:50px;
}
.pt100 {
	padding-top:100px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.pb30 {
	padding-bottom:30px;
}
.pb50 {
	padding-bottom:50px;
}
.pb100 {
	padding-bottom:100px;
}
.pl5 {
	padding-left:5px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl20 {
	padding-left:20px;
}
.pl30 {
	padding-left:30px;
}
.pl50 {
	padding-left:50px;
}
.pl100 {
	padding-left:100px;
}
.pr5 {
	padding-right:5px;
}
.pr10 {
	padding-right:10px;
}
.pr15 {
	padding-right:15px;
}
.pr20 {
	padding-right:20px;
}
.pr30 {
	padding-right:30px;
}
.pr50 {
	padding-right:50px;
}
.pr100 {
	padding-right:100px;
}

/* css3 animate */

/*  父节点为hoverTline, hoverLline为其子节点 */
.hoverTline:before {
	content:'';
	width:0;
	height:2px;
	position:absolute;
	right:0px;
	top:-2px;
	background:#cc3333;
	-webkit-transition:all .4s ease;
		-moz-transition:all .4s ease;
			-o-transition:all .4s ease;
				transition:all .4s ease;
}
.hoverTline:after {
	content:'';
	width:0;
	height:2px;
	position:absolute;
	left:0;
	bottom:-2px;
	background:#cc3333;
	-webkit-transition:all .4s ease;
		-moz-transition:all .4s ease;
			-o-transition:all .4s ease;
				transition:all .4s ease;
	
}
.hoverLline:before {
	content:'';
	height:0;
	width:2px;
	position:absolute;
	bottom:0;
	right:-2px;
	background:#cc3333;
	-webkit-transition:all .4s ease;
		-moz-transition:all .4s ease;
			-o-transition:all .4s ease;
				transition:all .4s ease;
}
.hoverLline:after {
	content:'';
	height:0;
	width:2px;
	position:absolute;
	top:0;
	left:-2px;
	background:#cc3333;
	-webkit-transition:all .4s ease;
		-moz-transition:all .4s ease;
			-o-transition:all .4s ease;
				transition:all .4s ease;
}
.hoverTline:hover .hoverLline:after, .hoverTline:hover .hoverLline:before {
	height:100%;
	padding-top:2px;
}
.hoverTline:hover::after, .hoverTline:hover::before {
	width:100%;
	padding-left:2px;
}

/* 按钮 */
.btn {
  	display: inline-block;
  	padding: 4px 12px;
  	line-height: 20px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #e6e6e6);
    background-image: linear-gradient(#ffffff, #e6e6e6);
  	background-repeat: repeat-x;
  	border: 1px solid #cccccc;
  	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	border-bottom-color: #b3b3b3;
    border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  	color: #333333;
  	background-position: 0 -15px;
  	background-color: #e6e6e6;
  	-webkit-transition: background-position 0.1s linear;
     	-moz-transition: background-position 0.1s linear;
       		-o-transition: background-position 0.1s linear;
          		transition: background-position 0.1s linear;
}
.btn:active {
  	background-image: none;
  	outline: 0;
}

body, html {
	height:100%;
}
body {
	background:#fff;
	color: #5b5b5b;
}
.vc {
	background:#f4fcfc;
}
.container {
	width:1140px;
	margin:0 auto;
}

/* site-nav */
#site-nav {
	width:100%;
	min-width:1140px;
	height:30px;
	background:#fff;
	border-bottom:1px solid #ddd;
}
.site-login {
	line-height:30px;
}
.site-utool {
	margin-top:6px;
}
.site-utool a {
	position:relative;
	float:left;
	margin-left:13px;
	padding-left:30px;
	border-left:1px solid #888;
}
.site-utool a:first-child {
	margin-left:0;
	padding-left:0;
	border-left:0;
}
.site-ico {
	position:absolute;
	left:13px;
	top:1px;
	display:inline-block;
	width:15px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url('/static/images/common/site-icons.png?a8964c0f6ff4');
}
.site-utool a:hover .site-download-ico {
	background-position:-10px -34px;
}
.site-utool a:hover .site-cart-ico {
	background-position:-32px -34px;
}
.site-utool a:hover .site-favorite-ico {
	background-position:-56px -34px;
}
.site-download-ico {
	background-position:-10px -10px;
}
.site-cart-ico {
	background-position:-32px -10px;
}
.site-favorite-ico {
	background-position:-56px -10px;
}

.designer-head-nav{
	height:16px;
	line-height:16px;
	margin:6px 0;
	display:table;
}
.designer-head-nav li{
	display: inline-block;	
	vertical-align: middle;
	padding-left:10px;
	margin-left:15px;
	border-left: 1px solid #8b8888;
}
.designer-head-nav li:first-child {
	padding-left:0;
	margin-left:0;
	border-left:0;
}
.designer-head-nav span{
	display: inline-block;
	background-image: url('/static/images/designer/designerIcon.png?139a4dc7699b');
	background-repeat:no-repeat;
}
.designer-head-nav-show {
	height: 17px;
	width: 11px;
	background-position:-10px -153px;
	margin-bottom:-2px;
}
.designer-head-nav li:hover .designer-head-nav-show {
	background-position:-10px -126px;
}
.designer-head-nav-upfile {
	width: 21px;
	height: 15px;
	background-position: -25px -153px;
}
.designer-head-nav li:hover .designer-head-nav-upfile {
	background-position:-25px -126px;
}
.designer-head-nav-work {
	width:15px;
	height:15px;
	background-position:-52px -155px;
	vertical-align:bottom;
}
.designer-head-nav li:hover .designer-head-nav-work {
	background-position:-52px -128px;
}

/* header */
#header {
	width:100%;
	height:50px;
	padding:45px 0;
	border-bottom:1px solid #ddd;
}
#header img {
	width:350px;
	height:86px;
	margin:0 auto;
}
.home-logo {
	display:block;
	width:195px;
	height:50px;
	background-image:url('/static/images/common/logo_new.png?f66c2c603381');
	background-repeat:no-repeat;
	background-position:-10px -70px;
}
/* classify */
#classify-nav {
	background:#54c5d0;
}
.classify-box {
	width:510px;
	height:40px;
	line-height:40px;
}
.classify-box ul li {
	display:inline-block;
	font-size:16px;
	margin-left:8px;
}
.classify-box ul li a {
	padding:0 15px;
	display:inline-block;
	color:#fff;
}
.classify-box ul li a:hover {
	background:#43b6c1;
}
.classify-box ul li.active a {
	background:#43b6c1;
}
.classify-box ul li:first-child {
	margin-left:0;
}

/* footer */
#footer {
	width:100%;
	min-width:1140px;
	background:#fff;
	border-top:1px solid #ddd;
	padding:45px 0;
	margin-top:100px;
}
.site-about ul li {
	margin-bottom:5px;
}
.copyright {
	border-top:1px solid #ddd;
}

/* login */
.login-page {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	z-index:9998;
}
.dl-box {
	width:500px;
	height:330px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-165px;
	background:#fff;
	border-radius:3px;
	z-index:9999;
}
.dl-head {
	padding:20px;
	border-bottom:1px solid #62cdd7;
}
.dl-close {
	display:block;
	width:19px;
	height:19px;
	right:20px;
	top:24px;
	background-image:url('/static/images/shop/test-ts-icons.png?abf14e5f8173');
	background-repeat:no-repeat;
	background-position:-16px -10px;
}
.dl-title {
	border-right:1px solid #bbb;
	color:#62cdd7;
}
.dl-cont {
	margin-top:25px;
	width:270px;
}
.dl-empty {
	width:260px;
	height:32px;
	border:1px solid #62cdd7;
	border-radius:3px;
	padding-left:8px;
}
.dl-push {
	width:270px;
	height:40px;
	background:#f8b551;
	color:#fff;
	cursor:pointer;
}
.remeber-check {
	width:16px;
	height:16px;
	vertical-align:bottom;
	color:#62cdd7;
}
.other-check label {
	color:#62cdd7;
}
.other-check a {
	color:#62cdd7;
}
.dl-ts-txt {
	left:0px;
	top:5px;
	font-size:13px;
	color:#D40C0C;
}

/* customer-service */
.customer-service {
	position:fixed;
	left:50%;
	bottom:150px;
	margin-left:580px;
	width:36px;
	z-index:9;
}
#gotop, #followus, #contactonline {
	margin-top:5px;
	border-radius:3px;
	background:#b3b3b3;
}
#gotop:hover, #followus:hover, #contactonline:hover {
	background:#8f8f8f;
}
#followus:hover .followus-qrcode {
	display:block;
}
#gotop a, #followus a, #contactonline a {
	display:block;
	width:36px;
	height:36px;
	background:url('/static/images/common/site-icons.png?a8964c0f6ff4');
	background-repeat:no-repeat;
	background-position:-2px -50px;
}
#followus a {
	background-position:-35px -50px;
}
#contactonline a {
	background-position:-64px -50px;
}
.followus-qrcode {
	width:114px;
	height:114px;
	padding:8px;
	bottom:-30px;
	right:45px;
	border:1px solid #8f8f8f;
	border-radius:5px;
	background:#fff;
}
.followus-qrcode img {
	width:114px;
	height:114px;
}
em.poptri {
	width:0px;
    height:0px;
    right:-10px;
    bottom:35px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:10px solid #8f8f8f;
    font-size:0px;
    line-height:0px;
    margin:0 auto;
}

/* 联系客服 */
.contact-wrap {
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-290px;
	margin-left:-400px;
	width:800px;
	height:580px;
	box-shadow:0 7px 8px 1px #ccc;
}
.contact-head {
	height:40px;
	line-height:40px;
	background:#62cdd7;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}
.contact-head p {
	margin-left:54px;
	color:#fff;
}
.custom-s-img {
	width:50px;
	height:50px;
	top:-10px;
	left:10px;
}
.contact-cont {
	background:#f5f5f5;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.chat-hub {
	width:508px;
	background:#fff;
	border:1px solid #ddd;
}
.chated-txt {
	height:310px;
	overflow-y:scroll;
}
.chat-word-title {
	font-size:13px;
	color:#30B1BD;
}
.chat-word-cont {
	max-width:468px;
	word-wrap: break-word;
}
.chat-word-customer, .chat-word-us {
	margin-bottom:16px;
}
.chat-word-us .chat-word-title {
	color:#6393d6;
}
.chatting-tool {
	background:#f5f5f5;
	height:40px;
}
.tool-list {
	width:60px;
	height:26px;
	line-height:26px;
	text-align:center;
	border:1px solid #ddd;
	margin-top:6px;
	margin-left:15px;
	float:left;
	cursor:pointer;
	background:#f9f9f9;
	border-radius:3px;
}
em.select-photo-ico, em.select-emoji-ico, em.select-history-ico {
	display:inline-block;
	width:18px;
	height:18px;
	margin-bottom:-4px;
	background-image:url('/static/images/common/site-icons.png?a8964c0f6ff4');
	background-repeat:no-repeat;
	background-position:-123px -60px;
}
em.select-emoji-ico {
	background-position:-151px -60px;
}
em.select-history-ico {
	background-position:-179px -60px;
}
.chatting-in {
	border-top:1px solid #ddd;
}
.chat-entry {
	width:488px;
	height:60px;
	margin:10px;
	border:none;
	overflow-y: auto;
}
.chatting-submit {
	background:#f5f5f5;
	padding:10px 20px 10px;
	border-top:1px solid #ddd;
}
.chatting-btn {
	width:60px;
	height:30px;
	border:1px solid #E7665F;
	background:#ff7972;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
}
.chat-costomer-tool {
	width:258px;
	background:#fff;
	border:1px solid #ddd;
}
.chat-problem-head, .user-tool-head {
	height:34px;
	line-height:34px;
	background:#ccc;
}
.chat-problem-cont {
	height:300px;
	padding:10px 15px;
}
.chat-problem-cont ol {
	height:300px;
	overflow-y:scroll;
}
.chat-problem-cont ol li {
	list-style-type:decimal;
	margin-bottom:8px;
	margin-left:20px;
}
.user-tool-box {
	width:250px;
	height:102px;
	margin-top:25px;
}
.user-tool-list {
	float:left;
	width:50px;
	margin-left:25px;
}
.user-tool-list span {
	display:block;
	width:50px;
	height:50px;
	background:#f57322 url('/static/images/common/site-icons.png?a8964c0f6ff4');
	background-repeat:no-repeat;
	border-radius:50%;
}
.user-tool-list a:hover {
	color:#f00;
}
span.user-tool-download {
	background-position:-199px -45px;
}
span.user-tool-mark {
	background-position:-238px -47px;
}
span.user-tool-help {
	background-position:-275px -47px;
}


/* 分页部分 paging */
.paging-box a, .paging-box span {
	-moz-user-select:-moz-none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.paging-btn, .page-btn, .paging-more {
	display:inline-block;
	padding:10px 15px;
	background:#eee;
	text-align:center;
}
.page-btn {
	margin-left:4px;
}
.page-btn:first-child {
	margin-left:0;
}
.paging-more {
	margin-left:4px;
}
a.paging-btn.active, a.page-btn.active {
	background:#79d0d8;
	color:#fff;
}
a.paging-btn:hover, a.page-btn:hover {
	background:#79d0d8;
	color:#fff;
}

/* 404 */
.error-wrap {
	padding:60px 0;
}
.error-box {
	width:350px;
}
.error-btn {
	width:100px;
	height:32px;
	line-height:32px;
	background:#f9665e;
	color:#fff;
}
.error-btn:hover {
	background:#f2595e;
	color:#fff;
}
.error4-bg {
	width:350px;
	height:220px;
	background-image:url('/static/images/common/404.png?07621b9053c1');
}
.error5-bg {
	width:350px;
	height:280px;
	background-image:url('/static/images/common/404.png?07621b9053c1');
	background-position:0 -220px;
}
