body {
	background:#fff;
	color: #5b5b5b;
}
.vc {
	background:#f4fcfc;
}
.container {
	width:1140px;
	margin:0 auto;
}

/* site-nav */
#site-nav {
	width:100%;
	min-width:1140px;
	height:30px;
	background:#fff;
	border-bottom:1px solid #ddd;
}
.site-login {
	line-height:30px;
}
.site-utool {
	margin-top:6px;
}
.site-utool a {
	position:relative;
	float:left;
	margin-left:13px;
	padding-left:30px;
	border-left:1px solid #888;
}
.site-utool a:first-child {
	margin-left:0;
	padding-left:0;
	border-left:0;
}
.site-ico {
	position:absolute;
	left:13px;
	top:1px;
	display:inline-block;
	width:15px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url('/static/images/common/site-icons.png');
	background-position-y:-10px;
}
.site-utool a:hover .site-ico {
	background-position-y:-34px;
}
.site-download-ico {
	background-position-x:-10px;
}
.site-cart-ico {
	background-position-x:-32px;
}
.site-favorite-ico {
	background-position-x:-56px;
}

/* header */
#header {
	width:100%;
	height:115px;
	padding-top:45px;
	border-bottom:1px solid #ddd;
}
#header img {
	width:350px;
	height:86px;
	margin:0 auto;
}

/* classify */
#classify-nav {
	background:#54c5d0;
}
.classify-box {
	width:510px;
	height:40px;
	line-height:40px;
}
.classify-box ul li {
	display:inline-block;
	font-size:16px;
	margin-left:8px;
}
.classify-box ul li a {
	padding:0 15px;
	display:inline-block;
	color:#fff;
}
.classify-box ul li a:hover {
	background:#43b6c1;
}
.classify-box ul li:first-child {
	margin-left:0;
}

/* footer */
#footer {
	width:100%;
	min-width:1140px;
	background:#fff;
	border-top:1px solid #ddd;
	padding:45px 0;
	margin-top:60px;
}
.site-about ul li {
	margin-bottom:5px;
}
.copyright {
	border-top:1px solid #ddd;
}


/* 分页部分 paging */
.paging-btn, .paging-more {
	display:inline-block;
	padding:10px 15px;
	background:#eee;
	text-align:center;
}
.paging-btn.active {
	background:#79d0d8;
	color:#fff;
}
.paging-btn:hover {
	background:#79d0d8;
	color:#fff;
}
