body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:550px;
  top:76px;
  width:1050px;
  height:784px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:784px;
}
#u3 {
  position:absolute;
  left:2px;
  top:384px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:76px;
  width:200px;
  height:754px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:754px;
}
#u5 {
  position:absolute;
  left:2px;
  top:369px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:320px;
  top:76px;
  width:200px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:40px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:176px;
  width:200px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:368px;
  top:188px;
  width:17px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:210px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:240px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:320px;
  top:270px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:320px;
  top:300px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:320px;
  top:330px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:360px;
  width:200px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:368px;
  top:372px;
  width:17px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:320px;
  top:394px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:320px;
  top:424px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:320px;
  top:454px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:320px;
  top:484px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:514px;
  width:200px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:368px;
  top:526px;
  width:17px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:320px;
  top:578px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:320px;
  top:608px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:320px;
  top:548px;
  width:200px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:320px;
  top:638px;
  width:200px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:372px;
  top:646px;
  width:12px;
  height:17px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:590px;
  top:110px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:660px;
  top:135px;
  width:97px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:590px;
  top:170px;
  width:960px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u53 {
  position:absolute;
  left:590px;
  top:210px;
  width:240px;
  height:23px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:23px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:810px;
  top:208px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:920px;
  top:215px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:984px;
  top:212px;
  width:218px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:590px;
  top:257px;
  width:750px;
  height:23px;
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:23px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:590px;
  top:304px;
  width:750px;
  height:21px;
  font-size:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:320px;
  top:24px;
  width:128px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:1px;
  width:128px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1524px;
  top:22px;
  width:97px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:-2px;
  width:97px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:480px;
  top:24px;
  width:102px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1413px;
  top:22px;
  width:97px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:1px;
  width:97px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1476px;
  top:50px;
  visibility:hidden;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1270px;
  top:22px;
  width:133px;
  height:16px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:1px;
  width:133px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:694px;
  top:1036px;
  width:525px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:320px;
  top:1067px;
  width:1270px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:566px;
  top:1098px;
  width:780px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:1000px;
  width:1920px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:1903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1920px;
  height:1px;
}
#u86 {
  position:fixed;
  left:1626px;
  top:710px;
}
#u86_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:220px;
  top:0px;
  width:60px;
  height:180px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:180px;
}
#u88 {
  position:absolute;
  left:2px;
  top:82px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:220px;
  top:120px;
  width:60px;
  height:60px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:230px;
  top:136px;
  width:38px;
  height:28px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:220px;
  top:60px;
  width:60px;
  height:60px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:232px;
  top:74px;
  width:38px;
  height:38px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u96 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:220px;
  top:0px;
  width:60px;
  height:60px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:232px;
  top:12px;
  width:38px;
  height:38px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u100 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:90px;
  top:0px;
  width:120px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:14px;
  top:24px;
  width:181px;
  height:210px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:210px;
}
#u104 {
  position:absolute;
  left:2px;
  top:98px;
  width:177px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:220px;
  top:0px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:221px;
  top:60px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
