<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>客服中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<style>
		.face-box{
			min-width: 300px;
			min-height: 150px;
			max-height: 200px;
			max-width: 400px;
			background-color: #F2F1EB;
			position: absolute;
			top: 255px;
			left: 30px;
			display: none;
		}
		.face-box ul li{
			float: left;
			margin: 3px;
		}
		.chat-entry{
			overflow-y: auto;
		}
		.chat-entry img{
			display:inline-block;
		}
		.chat-word-cont img{
			display:inline-block;
		}
	</style>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src='/static/js/chat/socket.io-1.3.0.js'></script>
	<script type="text/javascript" src='/static/js/chat/chat_main.js'></script>
	<script type="text/javascript" src='/static/js/chat/chat_ui.js'></script>
</head>
<body>
	<div class="customer-service ">
		<div id="gotop">
			<a href="javascript:void(0)"></a>
		</div>
		<div id="followus" class="pr">
			<a href="javascript:void(0)"></a>
			<div class="followus-qrcode hide pa">
				<div class="qrcode-img">
					<img src="/static/images/" alt="" />
				</div>
				<em class="poptri pa"></em>
			</div>
		</div>
		<div id="contactonline">
			<a href="javascript:void(0)"></a>
		</div>
		<div class="contact-wrap ">
			<div class="contact-box pr">
				<img class="custom-s-img pa" src="" alt="" />
				<div class="contact-head pl10 pr10">
					<p class="f18">【3DiLove客服】达芬奇</p>
				</div>
				<div class="contact-cont pt20 pb10 clearfix">
					<div class="chat-hub fl ml10">
						<div class="chated-txt pl20 pr20 pt15 pb15">
						</div>
						<div class="chatting-tool clearfix">
							<!--<div class="tool-list" id='pic'>-->
								<!--<em class="select-photo-ico"></em>-->
								<!--照片-->
								<!--</div>-->
							<div class="tool-list" id='face'>
								<em class="select-emoji-ico"></em>
								表情
							</div>
							<div id='face-box' class='face-box'>
								<ul>
								</ul>
							</div>
							<!--<div class="tool-list">-->
								<!--<em class="select-history-ico" id='chat-data'></em>-->
								<!--记录-->
								<!--</div>-->
						</div>
						<div class="chatting-in">
							<div class="chat-entry" contenteditable='true'></div>
						</div>
						<div class="chatting-submit clearfix">
							<button class="chatting-btn fr">发送</button>
						</div>
					</div>
					<div class="chat-costomer-tool fl ml10">
						<div class="chat-problem">
							<p class="chat-problem-head pl5 f16">常见问题</p>
							<div class="chat-problem-cont">
								<ol>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
									<li><a href="#">这是一个简单的小情歌</a></li>
								</ol>
							</div>
						</div>
						<div class="user-tool">
							<p class="user-tool-head pl5 f16">快捷工具</p>
							<div class="user-tool-box">
								<div class="user-tool-list">
									<a href="javascript:void(0)">
										<span class="user-tool-download"></span>
										<p class="tc mt5 f12">我的下载</p>
									</a>
								</div>
								<div class="user-tool-list">
									<a href="javascript:void(0)">
										<span class="user-tool-mark"></span>
										<p class="tc mt5 f12">收藏夹</p>
									</a>
								</div>
								<div class="user-tool-list">
									<a href="javascript:void(0)">
										<span class="user-tool-help"></span>
										<p class="tc mt5 f12">帮助中心</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contact-ctrl-btn pa">
					<span id="minimize"></span>
					<span id="maximum"></span>
					<span id="closeContact"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

