{% extends 'base.html' %}

{% load staticfiles %}

{% block selfFiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop/goods-detail.css' %}" />
	<script type="text/javascript" src="{% static 'plugin/js/msgBox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/shop/goods-detail.js' %}"></script>
{% endblock %}

{% block content %}
	
	<div class="container">
		<div class="detail-site-guide pt15 pb10">
			<a href="/list/ring">戒指</a>
			>
			<a href="/list/ring/young">青春洋溢</a>
			>
			<a href="/shop/goods-detail?goods_id=1">{{ goods_name }}</a>
		</div>
		<div class="detail-cont pb100">
			<div  data-id="{{ goods_id }}" class="detail-wrap mt30 pb50 clearfix">
				<div class="detail-photo-box mr50 fl pr">
					<div class="slider-nav mr50 fl">
						<div class="slider-box">
							
							{% for goods_img in goods_img_list %}

							<div class="slider-img">
								<img src="{{ goods_img }}" alt="" />
							</div>

							{% endfor %}

						</div>
						<div class="watch3d-img"></div>
					</div>
					<div class="goods-img fl">
						<img src="{{ goods_img }}" alt="">
					</div>
					<a class="pa goods-tomark" href="javascript:void(0)"><em class="list-mark-btn-ico mark-num-ico"></em>收藏</a>
				</div>
				<div class="detail-txt fr">
					<div class="goods-info-box mb50">
						<p class="f20 mb20 fb tc">{{ goods_name }}</p>
						<div class="c888 f12 mb20 tc">
							<span>下载量：{{ goods_download_num }}</span>
							<span class="ml10">收藏量：{{ goods_mark_num }}</span>
							<span class="ml10">{{ goods_moduleType }}</span>
						</div>
						<div class="goods-info mb30">{{ goods_description }}</div>
						<p class="mb30 tc">￥{{ goods_price }}</p>
						<div class="designer-img bc">
							<img src="{{ designer_img }}" alt="" />
						</div>
						<p class="tc mt5">设计师：{{ designer_name }}</p>
					</div>
					
					{% if not isDownload %}

					<!-- 下单 -->
					<div class="pay-info">
						<div class="pay-btn bc">
							<button data-state="{% if user.is_authenticated %}1{% else %}0{% endif %}" class="paynow f18 fb mr10 tc">立即下单</button>
							<button class="addcart f18 fb tc">加入购物车</button>
						</div>
						<div class="pay-ts mt30 tc c888">
							<p class="mb5">该模型您尚未购买，点击按钮即可支付并下载</p>
							<p class="mb5">支付后的模型作品可在您的个人中心中重复下载</p>
							<p>务必尊重该作者的版权、著作权</p>
						</div>
					</div>
					
					<!-- 支付 -->
					<div class="pay-method hide">
						<p class="f18 mb10 fb">选择支付方式</p>
						<div class="pay-method-box clearfix">
							<div class="method-box fl">
								<a class="alipay mr15 active" href="javascript:void(0)"></a>
								<a class="tencenpay" href="javascript:void(0)"></a>
							</div>
							<button class="gopay f18 fb fr">去支付</button>
						</div>
						<div class="pay-ts mt50 tc">
							<p class="c888">支付后的模型作品可在您的个人中心重复下载</p>
							<p class="mt10 f16 fb">
								<em class="safa-ico"></em>
								支付安全保障
							</p>
						</div>
					</div>
					
					{% else %}

					<!-- 下载 -->
					<div class="download-now pt20">
						<button class="download-btn bc f18 fb">立即下载</button>
						<div class="pay-ts c888 mt30 tc">
							<p class="mb5">该模型您已支付，点击按钮即可立即下载</p>
							<p class="mb5">也可在您的个人中心里重复下载</p>
							<p>务必尊重该作者的版权、著作权</p>
						</div>
					</div>

					{% endif %}

				</div>
			</div>
			<div class="detail-others">
				<p class="detail-others-title bc f16 tc mb20 pr"><i class="coverb"></i>猜你喜欢<i class="covera"></i></p>
				<div class="other-goods-box">
					<ul class="clearfix">

						{% for other_goods in other_goods_list %}

						<li>
							<div class="list-box pr">
								<div class="list-img mb10">
				                    <a target="_blank" href="goods_detail?goods_id={{ goods.goods_id }}">
										<img class="goods_img" src="{{ other_goods.goods_img }}" alt="" />
									</a>
								</div>
								<div class="num-box tc mb10">
									<p class="mr15 inl-b">
										<em class="download-num-ico"></em>
										<span class="goods_downloadNum">{{ other_goods.goods_download_num }}</span>
									</p>
									<p class="inl-b">
										<em class="mark-num-ico"></em>
										<span class="goods_markNum">{{ other_goods.goods_mark_num }}</span>
									</p>
								</div>
								<div class="list-title tc mb10">
				                    <a class="goods_name" target="_blank" href="goods_detail?goods_id={{ other_goods.goods_id }}">
									{{ other_goods.goods_name }}
									</a>
								</div>
								<p class="goods_price f12 tc">￥{{ other_goods.goods_price }}</p>
							</div>
						</li>

						{% endfor %}

					</ul>
				</div>
			</div>
			<div class="detail-others">
				<p class="detail-others-title bc f16 tc mb20 pr"><i class="coverb"></i>其它作品<i class="covera"></i></p>
				<div class="other-goods-box">
					<ul class="clearfix">

						{% for designer_goods in designer_goods_list %}

						<li>
							<div class="list-box pr">
								<div class="list-img mb10">
				                    <a target="_blank" href="goods-detail?goods_id={{ designer_goods.goods_id }}">
										<img class="goods_img" src="{{ designer_goods.goods_img }}" alt="" />
									</a>
								</div>
								<div class="num-box tc mb10">
									<p class="mr15 inl-b">
										<em class="download-num-ico"></em>
										<span class="goods_downloadNum">{{ designer_goods.goods_download_num }}</span>
									</p>
									<p class="inl-b">
										<em class="mark-num-ico"></em>
										<span class="goods_markNum">{{ designer_goods.goods_mark_num }}</span>
									</p>
								</div>
								<div class="list-title tc mb10">
				                    <a class="goods_name" target="_blank" href="goods-detail?goods_id={{ designer_goods.goods_id }}">
									{{ designer_goods.goods_name }}
									</a>
								</div>
								<p class="goods_price f12 tc">￥{{ designer_goods.goods_price }}</p>
							</div>
						</li>

						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
