{% extends 'base.html' %}

{% load staticfiles %}
{% load compress %}

{% block selfFiles %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop/home.css' %}" />
	{% endcompress %}
	
	{% compress js %}
	<script type="text/javascript" src="{% static 'js/shop/home.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block content %}

	<div class="home-banner pr w">
		<ul class="clearfix pr home-slider">
			<li>
				<a href="#"><img src="/static/images/shop/banner1.png" alt="" /></a>
			</li>
			<li>
				<a href="#"><img src="/static/images/shop/banner2.png" alt="" /></a>
			</li>
		</ul>
		<span class="h-b-btn h-b-l pa"></span>
		<span class="h-b-btn h-b-r pa"></span>
		<div class="airm-banner pa">
			<a class="active" href="javascript:void(0)"></a>
			<a href="javascript:void(0)"></a>
		</div>
	</div>
	<div class="container">
		<div class="wehave">
			<div class="wehave-box bc tc clearfix">
				<div class="wehave-list mr80">
					<div class="wehave-bg bc shop-ico mb30"></div>
					<p>67家</p>
					<p>线下门店</p>
					<p class="doforyou">我们的加盟门店遍及全国各地，无论在哪里，都可以为您服务。</p>
				</div>
				<div class="wehave-list mr80">
					<div class="wehave-bg bc designer-ico mb30"></div>
					<p>67位</p>
					<p>设计师</p>
					<p class="doforyou">从国际名家到新生力量，汇集万千智慧，总有适合您的设计师。</p>
				</div>
				<div class="wehave-list wehave-l-last">
					<div class="wehave-bg bc work-ico mb15"></div>
					<p>3829件</p>
					<p>在线作品</p>
					<p class="doforyou">作品每天都在更新，来这里，给自己一个更丰富的选择空间。</p>
				</div>
			</div>
		</div>
		<div class="groom-wrap">
			<p class="groom-title tc f20 fb">推荐单品</p>
			<p class="groom-tag bc mt10"></p>
			<div class="home-slider-box pr">
				<ul class="clearfix">
					{% for goods in recommend_list %}
					<li>
						<div class="list-box pr">
							<div class="list-img mb5">
			                    <a target="_blank" href="goods-detail?goods_id={{ goods.goods_id }}">
									<img class="goods_img" src="{{ goods.goods_img }}" alt="" />
								</a>
							</div>
							<div class="list-title tc mb10">
			                    <a class="goods_name" target="_blank" href="goods-detail?goods_id={{ goods.goods_id }}">
								{{ goods.goods_name }}
								</a>
							</div>
							<p class="goods_price f12 tc">￥{{ goods.goods_price }}</p>
							<a class="list-mark-btn {% if goods.goods_mark %}active{% endif %} chover pa" data-num="{{ goods.goods_id }}" href="javascript:void(0)">
								<em class="list-mark-btn-ico"></em>
								收藏
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
				<span class="home-slider-l unselectable home-slider-guide pa"><em class="bc"></em></span>
				<span class="home-slider-r unselectable home-slider-guide pa"><em class="bc"></em></span>
			</div>
		</div>
		<div class="groom-wrap">
			<p class="groom-title tc f20 fb">热门下载</p>
			<p class="groom-tag hot-download bc mt10"></p>
			<div class="home-slider-box pr">
				<ul class="clearfix">
					{% for goods in hot_list %}
					<li>
						<div class="list-box pr">
							<div class="list-img mb5">
			                    <a target="_blank" href="goods-detail?goods_id={{ goods.goods_id }}">
									<img class="goods_img" src="{{ goods.goods_img }}" alt="" />
								</a>
							</div>
							<div class="list-title tc mb10">
			                    <a class="goods_name" target="_blank" href="goods-detail?goods_id={{ goods.goods_id }}">
								{{ goods.goods_name }}
								</a>
							</div>
							<p class="goods_price f12 tc">￥{{ goods.goods_price }}</p>
							<a class="list-mark-btn {% if goods.goods_mark %}active{% endif %} chover pa" data-num="{{ goods.goods_id }}" href="javascript:void(0)">
								<em class="list-mark-btn-ico"></em>
								收藏
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
				<span class="home-slider-l unselectable home-slider-guide pa"><em class="bc"></em></span>
				<span class="home-slider-r unselectable home-slider-guide pa"><em class="bc"></em></span>
			</div>
		</div>
		<div class="star-designer">
			<p class="groom-title tc f20 fb">明星设计师</p>
			<p class="groom-tag s-designer bc mt10"></p>
			<div class="s-designer-wrap clearfix">
				<div class="s-designer-box pr">
					<div class="s-designer-info bg98d3ec">
						<p class="f16 mb10">设计狮大名</p>
						<p>这位设计狮的曾经吹过的牛和扯过的蛋</p>
					</div>
					<div class="s-designer-photo">
						<img src="/static/images/shop/index/U5314P8DT20120320173852.jpg" alt="" />
					</div>
					<span class="s-cont-bg w h pa"></span>
				</div>
				<div class="s-designer-box pr">
					<div class="s-designer-photo">
						<img src="/static/images/shop/index/0025116ac7520fecc81c05.jpg" alt="" />
					</div>
					<div class="s-designer-info bgedce98">
						<p class="f16 mb10">设计狮大名</p>
						<p>这位设计狮的曾经吹过的牛和扯过的蛋</p>
					</div>
					<span class="s-cont-bg w h pa"></span>
				</div>
				<div class="s-designer-box pr">
					<div class="s-designer-info bg98b4ed">
						<p class="f16 mb10">设计狮大名</p>
						<p>这位设计狮的曾经吹过的牛和扯过的蛋</p>
					</div>
					<div class="s-designer-photo">
						<img src="/static/images/shop/index/showah-g.jpg" alt="" />
					</div>
					<span class="s-cont-bg w h pa"></span>
				</div>
				<div class="s-designer-box pr">
					<div class="s-designer-photo">
						<img src="/static/images/shop/index/4f67e8bb9142c.jpg" alt="" />
					</div>
					<div class="s-designer-info bg98e2ed">
						<p class="f16 mb10">设计狮大名</p>
						<p>这位设计狮的曾经吹过的牛和扯过的蛋</p>
					</div>
					<span class="s-cont-bg w h pa"></span>
				</div>
				<div class="s-designer-box pr">
					<div class="s-designer-info bga398ed">
						<p class="f16 mb10">设计狮大名</p>
						<p>这位设计狮的曾经吹过的牛和扯过的蛋</p>
					</div>
					<div class="s-designer-photo">
						<img src="/static/images/shop/index/002564a42cb61712e3a360.jpg" alt="" />
					</div>
					<span class="s-cont-bg w h pa"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="fast-enter pt30">
		<p class="groom-title tc f20 fb">快速进入</p>
		<p class="groom-tag fast-in bc mt10"></p>
		<div class="enter-list-wrap bc pt50 pb50 clearfix">
			<a class="e-l-box fl" href="/shop/ring">
				<div class="enter-list tc">
					<p class="mb5">RING</p>
					<p>戒指专区</p>
					<span class="enter-list-ico bc e-l-ring"></span>
				</div>
			</a>
			<a class="e-l-box fl" href="/shop/pendant">
				<div class="enter-list tc">
					<p class="mb5">PENDANT</p>
					<p>吊坠专区</p>
					<span class="enter-list-ico bc e-l-pendant"></span>
				</div>
			</a>
			<a class="e-l-box fl" href="/shop/earbob">
				<div class="enter-list tc">
					<p class="mb5">EARBOB</p>
					<p>耳坠专区</p>
					<span class="enter-list-ico bc e-l-earbob"></span>
				</div>
			</a>
			<a class="e-l-box fl" href="/shop/bracelet">
				<div class="enter-list tc">
					<p class="mb5">BRACELET</p>
					<p>手链专区</p>
					<span class="enter-list-ico bc e-l-bracelet"></span>
				</div>
			</a>
			<a class="e-l-box fl" href="/shop/necklace">
				<div class="enter-list tc">
					<p class="mb5">NECKLACE</p>
					<p>项链专区</p>
					<span class="enter-list-ico bc e-l-necklace"></span>
				</div>
			</a>
			<a class="e-l-box fl" href="/shop/brooch">
				<div class="enter-list tc">
					<p class="mb5">BROOCH</p>
					<p>胸针专区</p>
					<span class="enter-list-ico bc e-l-brooch"></span>
				</div>
			</a>
		</div>
	</div>

{% endblock %}