{% extends 'base.html' %}

{% block title %} 3DiLove 世界上最大的珠宝设计平台, 珠宝3D模型在线交易平台 {% endblock %}

{% load staticfiles %}

{% block selfFiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop/index.css' %}" />
{% endblock %}

{% block content %}
	<div class="top-wrap">
		<div class="top-pic"></div>
		<div class="top-pic-left"></div>
		<div class="top-pic-right"></div>
	</div>
	<div class="mianbody">
		<div class="mainbody-nav">
			<h2 class="mianbody-nav-title">戒指</h2>
		</div>
	</div>
{% endblock %}