<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %} 3DiLove 世界上最大的珠宝设计平台, 珠宝3D模型在线交易平台 {% endblock %}</title>
	    
	{% block initstaticfiles %}
		{% include 'common-files.html' %}
	{% endblock %}

	{% block selfFiles %}
	{% endblock %}

</head>

{% block bodyColor %}
<body>
{% endblock %}

	<div id="mallPage">

		{% block header %}
			{% include 'header.html' %}
		{% endblock %}

		{% block logo%}
			{% include 'logo.html' %}
		{% endblock %}

		<div id="mallContent">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	{% block footer %}
		{% include 'footer.html' %}
	{% endblock %}

	{% block otherModules %}
	{% endblock %}

	{% include 'login.html' %}

	{% block customerTool %}
		{% include 'customer-service.html' %}
		
		{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	{% endblock %}

</body>
</html>
