<div id="footer" class="tc">
	{% load staticfiles %}
	<div class="container">
		<div class="footer-info pb50 clearfix">
			<div class="site-about fl mr100">
				<p class="f16 fb mb20">关于3DiLove</p>
				<ul>
					<li><a target="_blank" href="/about">关于我们</a></li>
					<li><a target="_blank" href="/problem">常见问题</a></li>
				</ul>
			</div>
			<div class="site-about fl mr100">
				<p class="f16 fb mb20">平台保障</p>
				<ul>
					<li><a target="_blank" href="/statement">客户维权</a></li>
					<li><a target="_blank" href="/site-map">隐私保护</a></li>
					<li><a target="_blank" href="/site-map">免责声明</a></li>
				</ul>
			</div>
			<div class="site-about fl mr100">
				<p class="f16 fb mb20">支付方式</p>
				<ul>
					<li><a target="_blank" href="/about">支付方式</a></li>
					<li><a target="_blank" href="/convention">支付方式</a></li>
					<li><a target="_blank" href="/statement">支付方式</a></li>
				</ul>
			</div>
			<div class="site-about fl mr100">
				<p class="f16 fb mb20">客户服务</p>
				<ul>
					<li><a target="_blank" href="/contact">联系我们</a></li>
					<li><a target="_blank" href="/help">帮助中心</a></li>
				</ul>
			</div>
			<div class="footer-qrcode fr">
				<img src="{% static 'images/common/qrcode.jpg' %}" alt="扫描二维码关注我们" />
			</div>
		</div>
	</div>
	<div class="copyright pt20">
		<div class="container">
			<p class="mb10">© 2015 3dilove.com 版权所有 <span class="ml20">增值电信业务经营许可证：浙ICP备15014470</span></p>
			<p>3DiLove 是网络服务平台方，如果您发现您的权利被侵害，请发起知识产权投诉。<a style="color:#B96060" class="ml20" href="mailto:3dilove@jkbrother3d.com">3dilove@jkbrother3d.com</a></p>
		</div>
	</div>
</div>