{% load staticfiles %}
<div id="site-nav">
	<div class="container clearfix">
		<div class="site-login fl">
			{% if not user.is_authenticated %}
				<a class="mr10" href="/login">登陆</a>
				<a href="/register">注册</a>
			{% else %}
				<span>欢迎您，坏男孩</span>
			{% endif %}

			{% if user.is_authenticated %}
				<a class="ml30" href="/vender/seller">进入个人中心</a>
			{% endif %}
		</div>
		<div class="site-utool fr">
			<a href="/">3DiLove首页</a>
			<a href="/vender/seller/download"><em class="site-ico site-download-ico"></em>我的下载</a>
			<a href="/vender/seller/cart"><em class="site-ico site-cart-ico"></em>购物车</a>
			<a href="javascript:void(0)"><em class="site-ico site-favorite-ico"></em>收藏夹</a>
		</div>
	</div>
</div>
<div id="header">
	<a href="/">
		<img src="{% static './images/common/logo.png'%}" alt="logo" />
	</a>
</div>
<div id="classify-nav">
	<div class="classify-box bc">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/shop/ring">戒指</a></li>
			<li><a href="/shop/pendant">吊坠</a></li>
			<li><a href="/shop/earbob">耳坠</a></li>
			<li><a href="/shop/bracelet">手链</a></li>
			<li><a href="/shop/torque">项链</a></li>
			<li><a href="/shop/brooch">胸针</a></li>
		</ul>
	</div>
</div>
