<div class="login-page hide">
	<div class="dl-box">
		<div class="dl-head pr">
			<span class="dl-title f20 fb mr10 pr10">登陆</span>
			<p class="inl-b f16">
				<a href="/shop/login_register">注册<span class="f12 ml10">(已有邀请码)</span></a>
			</p>
			<a class="dl-close pa" href="javascript:void(0)"></a>
		</div>
		<div class="dl-cont bc">
			<div class="dl-form">
				<form action="#" method="post">
					<input name="dl_uname" class="dl-empty mb20" type="text" placeholder="手机号" />
					<input name="dl_upw" class="dl-empty" type="text" placeholder="密码" />
					<input class="dl-push mt30 f20" type="submit" value="登陆" />
					<div class="other-check mt10">
						<input name="" class="remeber-check mr5" id="remeber_pw" type="checkbox" /><label for="remeber_pw">记住我</label>
						<a class="fr" href="/">忘记密码？</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>