<div class="login-page hide">
	<div class="dl-box">
		<div class="dl-head pr">
			<span class="dl-title f20 fb mr10 pr10">登陆</span>
			<p class="inl-b f16">
				<a href="/shop/login_register">注册<span class="f12 ml10">(已有邀请码)</span></a>
			</p>
			<a class="dl-close pa" href="javascript:void(0)"></a>
		</div>
		<div class="dl-cont bc">
			<div class="dl-form">
				<input class="dl-empty mb20" type="text" placeholder="手机号" />
				<input class="dl-empty" type="password" placeholder="密码" />
				<div class="dl-ts-wraming pr">
					<p class="dl-ts-txt pa pl5"></p>
					<input class="dl-push mt30 f20" type="submit" value="登陆" />
				</div>
				<div class="other-check mt10">
					<input class="remeber-check mr5" id="remeber_us" type="checkbox" /><label for="remeber_us">记住我</label>
					<a class="fr" href="/shop/password_find">忘记密码？</a>
				</div>
			</div>
		</div>
	</div>
</div>