{% load staticfiles %}
<div id="header">
	<a href="/">
		<img src="{% static './images/common/logo.png'%}" alt="logo" />
	</a>
</div>
<div id="classify-nav">
	<div class="classify-box bc">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/shop/ring">戒指</a></li>
			<li><a href="/shop/pendant">吊坠</a></li>
			<li><a href="/shop/earbob">耳坠</a></li>
			<li><a href="/shop/bracelet">手链</a></li>
			<li><a href="/shop/torque">项链</a></li>
			<li><a href="/shop/brooch">胸针</a></li>
		</ul>
	</div>
</div>