浏览器解析组件中关乎到前端的部分：

(了解前端，先要了解浏览器是如何解析网页代码的)
- 渲染引擎
	- DOM树-->CSS文件-->完整视图
- 网络
- js解析器

-------

网页上字体最小值是 font-size:12px;

网络请求卡顿会打断浏览器的渲染，但是浏览器会先将一部分的代码效果显示给用户，而不是一定非要完全渲染后才展示页面

alert() 能强行打断代码的解析流程，不仅是js，还包括html代码

@import 是个不错的东西，能将一堆css文件组合到一起，减少了大项目的混乱性

jQuery 绑定多个事件，可以用json的方式来实现

## angularjs中得ng需要注意的点：
- 兼容IE8及以上版本
- 与jQuery集成工作，它的一些对象与jQuery相关对象表现是一致的
- 使用ng时不要贸然去改变相关DOM的结构

取消默认事件：
- event.preventDefault();

组织事件冒泡：
- event.stopPropagation();

## NodeJS

1、全局安装node、express
	并执行 npm install -g express-generator；

2、新建项目
	在你的项目文件夹下执行 express myFirstWeb（express项目名），产生一个myFirstWeb文件夹；

3、安装express相关依赖模块进入myFirstWeb，执行 npm install
	- npm install -d 会在package.json中自动引入所下载的模块

4、在myFirstWeb（你的express项目名）下，在app.js中加入以下代码：

	var server = require('http').createServer(app);
	var port = process.env.PORT || 3000;
	server.listen(port, function() {
    	// console.log('Server listening at port %d', port);
	});

之后保存；

5、在myFirstWeb（express项目名）下执行 node app.js
	node就开始运行了；
	如果报错“Cannot find ‘模块名’”，则在myFirstWeb（express项目名）文件夹下执行
	npm install <模块名>
	- 大概模块有：
		- body-parser
		- ejs
		- ejs-mate
		- express
		- serve-favicon
		- cookie-parser
		- morgan

6、进入http://localhost:3000/可以看到express欢迎界面；


